<aside class="full adminNavContainer ">
  <article class="widget-nav">
      <ul class="list-group leftNavOne">
        <li class="zeroDim"></li>
      </ul>
  </article>
  <article class="widget-nav">
      <ul class="list-group leftNavTwo merchantNav">

        <li class="list-group-item navStatus navstatus-left">
          <span class="glyphicon glyphicon-hdd"></span><span class="full expOrCol navStatusTxt">Admin Status</span>
        </li>

        <li ng-class="isNavActive('merchant','all','default')" class="list-group-item">
            <a href="#/admin" title="Invoices" id="merchant-nav-pending"><span class="glyphicon glyphicon-certificate"></span><span class="full expOrCol">Invoice</span></a>
        </li>

      </ul>
  </article>
</aside>