<section class="container-fluid errorwrapper">

	<div class="row" >
		<div class="col-sm-12" >

				<div class="img403">&nbsp;</div>

				<div class="row">
					
					<div class="col-sm-12 col-md-12 error403-detail-1">
						<h1><span class="errorPage-big-font1">403:</span>Unauthorized Access</h1>
					</div>
				</div>

				<div class="row">
					<div class="col-md-10 col-sm-9">
					<p class="error403-detail-2">Sorry, You don't have access to view the page you requested. Please use different credentials or contact Client Service.</p>
					</div>
				</div>
				
				<div class="row error403-detail-3">
					<div class="col-sm-12 temp1" >
						<button ng-click="back()" class="btn btn-error-page" ng-click="back()">Back</button>
						<button class="btn btn-error-page" onclick="window.location.href='#/home'">Home</button>
						<button class="btn btn-error-page">Client Service</button>
					</div>
				</div>

				<div class="row error403-detail-4">
					<div class="col-sm-12">
						<a href="#/login" class="error403Login">or, login with different  credentials</a>
					</div>
				</div>

		</div>
	</div>
</section>

