<section class="container-fluid errorwrapper">
	<div class="row padBtm15px" >
		<div class="col-xs-12 col-sm-8 col-lg-8">
			<h1 class="error-heading-1 errorPage-big-font">Oops!</h1>
			<p class="error-detail-1">We have redesigned our site and it looks like the page you want has gone on vacation</p>
			<p class="error-detail-2">Here's a little map that might help you to get back on track </p>
			<div class="row">
				<div class="col-xs-11 col-sm-9 col-md-8 col-lg-9  error-detail-3 paddrgt0">
					<button class="btn btn-error-page errortemp" ng-click="back()">Back</button>
					<button class="btn btn-error-page errortemp" onclick="window.location.href='#/home'">Home</button>
					<button class="btn btn-error-page errortemp">Contact</button>
					<button class="btn btn-error-page errortemp">Help</button>
				</div>
				<div class=" col-md-2 col-sm-3 error-detail-4 col-lg-3">
					<h1 class="error-heading-2 errorPage-big-font">404</h1>
				</div>
			</div>
		</div>
		<div class="col-xs-2 col-lg-4 col-md-3">
			<div class="img404">&nbsp;</div>
		</div>
	</div>
</section>