<div id="page-overlay" class="overlay" ng-show="activateOverlay"><i class="glyphicon glyphicon-cog spin"></i></div>
<toaster-container  toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>

<!-- model starts -->
<div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <p>You have unsaved changes <span class="model-close" data-dismiss="modal">X</span></p>
            </div>

            <div class="modal-body">
                <p>Are you sure you want to leave this page? </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default modelButtonCancel" data-dismiss="modal" id="modalCancel">Cancel</button>
                <button type="button" class="btn btn-danger danger thButton modelButtonOk" id="modalOk" ng-click="modalOkButton()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- model ends -->

<div  class="notificationContainer" ng-class="[getOneMsgClass(),getLoginClass()]"><div class="innerContainer" notification-messages></div></div>
<!-- model starts for archive-->
<div class="modal fade" id="confirm-archive-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <p> Archive Product <span class="archive-model-close" data-dismiss="modal">X</span></p>
                </div>
                
                <div class="modal-body">
                    <p>Are you sure you want to Archive this Product? </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default modelButtonCancel" data-dismiss="modal" id="archivemodalCancel">Cancel</button>
                    <button type="button" class="btn btn-danger danger thButton modelButtonOk" id="archive-modalOk" ng-click="modalOkButton()">OK</button>
                </div>
            </div>
        </div>
</div>
<!-- model ends -->

<!-- model starts for inactive-->
<div class="modal fade" id="confirm-inactive-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <p> Create Product <span class="inactive-model-close" data-dismiss="modal">X</span></p>
                </div>
                
                <div class="modal-body">
                    <p>Are you sure you want to create Inactive Product? </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default modelButtonCancel" data-dismiss="modal" id="inactivemodalCancel">Cancel</button>
                    <button type="button" class="btn btn-danger danger thButton modelButtonOk" id="inactive-modalOk" ng-click="modalOkButton()">OK</button>
                </div>
            </div>
        </div>
</div>
<!-- model ends -->


<!-- model starts for inactive edit-->
<div class="modal fade" id="confirm-inactive-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <p> Edit Product <span class="inactive-edit-model-close" data-dismiss="modal">X</span></p>
                </div>
                
                <div class="modal-body">
                    <p>Are you sure you want to make product as Inactive ? </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default modelButtonCancel" data-dismiss="modal" id="inactiveEditmodalCancel">Cancel</button>
                    <button type="button" class="btn btn-danger danger thButton modelButtonOk" id="inactive-edit-modalOk" ng-click="modalOkButton()">OK</button>
                </div>
            </div>
        </div>
</div>
<!-- model ends -->

<!-- model starts for shipmntcancel-->
<div class="modal fade" id="confirm-shipcancel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <p> Cancel Shipment <span class="shipcancel-model-close" data-dismiss="modal">X</span></p>
                </div>
                
                <div class="modal-body">
                    <p>Are you sure you want to cancel this shipment? </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default modelButtonCancel" data-dismiss="modal" id="shipcancel-modalCancel">Cancel</button>
                    <button type="button" class="btn btn-danger danger thButton modelButtonOk" id="shipcancel-modalOk" ng-click="modalOkButton()">OK</button>
                </div>
            </div>
        </div>
</div>
<!-- model ends -->

<!-- model starts for shipmntrestore-->
<div class="modal fade" id="confirm-shiprestore-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <p> Restore Shipment <span class="shiprestore-model-close" data-dismiss="modal">X</span></p>
                </div>
                
                <div class="modal-body">
                    <p>Are you sure you want to restore this shipment? </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default modelButtonCancel" data-dismiss="modal" id="shiprestore-modalCancel">Cancel</button>
                    <button type="button" class="btn btn-danger danger thButton modelButtonOk" id="shiprestore-modalOk" ng-click="modalOkButton()">OK</button>
                </div>
            </div>
        </div>
</div>
<!-- model ends -->

<!-- model starts for orderCancel-->
<div class="modal fade" id="confirm-orderCancel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <p> Cancel Order <span class="orderCancel-model-close" data-dismiss="modal">X</span></p>
                </div>
                
                <div class="modal-body">
                    <p>Are you sure you want to cancel this order? </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default modelButtonCancel" data-dismiss="modal" id="orderCancel-modalCancel">Cancel</button>
                    <button type="button" class="btn btn-danger danger thButton modelButtonOk" id="orderCancel-modalOk" ng-click="modalOkButton()">OK</button>
                </div>
            </div>
        </div>
</div>
<!-- model ends -->

<!-- model starts for orderRestore-->
<div class="modal fade" id="confirm-orderRestore-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <p> Restore Order <span class="orderRestore-model-close" data-dismiss="modal">X</span></p>
                </div>
                
                <div class="modal-body">
                    <p>Are you sure you want to restore this order? </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default modelButtonCancel" data-dismiss="modal" id="orderRestore-modalCancel">Cancel</button>
                    <button type="button" class="btn btn-danger danger thButton modelButtonOk" id="orderRestore-modalOk" ng-click="modalOkButton()">OK</button>
                </div>
            </div>
        </div>
</div>
<!-- model ends -->

<!-- model starts for Close Account-->
<div class="modal fade" id="close-account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <p> Submit request to close account
                    <span class="close-account-modal-close" data-dismiss="modal">X</span>
                </p>
            </div>

            <div class="modal-body">
                <p>Our client service team will review your account closure request and will contact you if there are outstanding issues regarding your account. All outstanding balances must be paid in full before account can be fully closed. A new account cannot be created with the same details as the closed account. Your data and reports may not be saved once your account has been closed. Please contact Client Service if you are unsure before proceeding to close your account.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default modelButtonCancel" data-dismiss="modal" id="close-account-modalCancel">Cancel</button>
                <button type="button" class="btn btn-danger danger" id="close-account-modalOk" ng-click="modalOkButton()">Confirm request</button>
            </div>
        </div>
    </div>
</div>
<!-- model ends -->


<!-- connection update tracking status model -->
<div class="modal fade" id="connection-update-tracking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <p> Update Tracking Status - eBay <span class="updateTracking-model-close" data-dismiss="modal">X</span></p>
                </div>
                
                <div class="modal-body">
                    <p>Are you sure you don't want to update tracking status back to your sales channel? Your customer will not be aware of the order status & tracking number.</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default modelButtonCancel" data-dismiss="modal" id="updateTracking-modalCancel">Cancel</button>
                    <button type="button" class="btn btn-danger danger thButton modelButtonOk" id="updateTracking-modalOk" ng-click="" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
</div>
<!-- connection update tracking status model ends-->

<!-- delete channel -->
<div class="modal fade" id="remove-sales-channel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <p> Update Tracking Status - eBay <span class="removeChannel-model-close" data-dismiss="modal">X</span></p>
                </div>
                
                <div class="modal-body">
                    <p>Are you sure you want to remove this sales channel? You can no longer receive orders from this channel. If there are outstanding Orders in ezyCommerce from this channel, their status will not be updated.</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default modelButtonCancel" data-dismiss="modal" id="removeChannel-modalCancel">Cancel</button>
                    <button type="button" class="btn btn-danger danger thButton modelButtonOk" id="removeChannel-modalOk" ng-click="" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
</div>
<!-- delete channel ends-->


<!-- model starts for Remove User-->
<div class="modal fade" id="delete-user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <p> Delete User<span class="delete-user-modal-close" data-dismiss="modal">X</span></p>
            </div>

            <div class="modal-body">
                <p>Are you sure you want to delete the user?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default modelButtonCancel" data-dismiss="modal" id="delete-user-modalCancel">Cancel</button>
                <button type="button" class="btn btn-danger danger" id="delete-user-modalOk" ng-click="modalOkButton()">Delete User</button>
            </div>
        </div>
    </div>
</div>

<!--Notifications-->
<div class="ezyHide">
    <div id="notification-popover-content-loading">
        <p class="loadingContent">
            <span class="dataget notifyLoading glyphicon glyphicon-cog spin"></span><span> We are retrieving your data. Please wait </span>
        </p>
    </div>
</div>

<div class="ezyHide">
    <div id="notification-popover-content">
        <div class="nano">
            <div class="nano-content">
                <div ng-repeat="myData in myNotifications track by $index">
                    <header-notifications data="{{myData}}"></header-notifications>
                </div>
                <div ng-if="!myNotifications.length||internalNotificationsCount">
                    <p>
                        Currently you don't have any notifications <br> to display..
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="no-productsSelected-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <p>Cannot perform product action <span class="model-close" data-dismiss="modal">X</span></p>
            </div>

            <div class="modal-body">
                <p>Please check at least one product to perform any product action </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger danger thButton modelButtonOk" id="no-productsSelected-modal-ok" ng-click="" data-dismiss="modal">OK</button>                
            </div>
        </div>
    </div>
</div>

<!--model ends -->

<!--Dashboard modal starts-->
<div class="modal fade" id="dashboard-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <p> Welcome to ezyCommerce
                    <span class="model-close" data-dismiss="modal">X</span>
                </p>
            </div>

            <div class="modal-body">
                <p class="txtBold">Hello, <span ng-bind="loggedInContent.lastName+' '+loggedInContent.firstName"></span></p><div class="martop5"></div>
                <div style="clear"></div>

                <p class="contentFont">Now that you are signed in to your ezyCommerce account, we'd like to highlight some important points before you send in your inventory and place your orders. It's important you understand this clearly so you can plan ahead and we can always ensure a great experience for your customers.</p><br>
                <div style="clear"></div>

                <p class="contentFont"><b>Sending Shipments to our warehouse</b></p><div class="martop5"></div>
                <div style="clear"></div>

                <p class="contentFont">For all Inbound Shipments received by the warehouse on business day 0 by 4pm - goods will be received and ready for fulfilment <b>latest</b> on business day 2 by 4pm. However, we strive to receive all shipments within 1 business day and update you as soon as shipment is closed.</p><br>
                <div style="clear"></div>

                <p class="contentFont">Please follow the shipment preparation guidelines to ensure a smooth and timely receiving process.</p><br>
                <div style="clear"></div>

                <p class="contentFont"><b>Shipping Orders from our warehouse</b></p><div class="martop5"></div>
                <div style="clear"></div>

                <p class="contentFont">For all Outbound orders approved on business day 0 by 9am, Orders will be shipped out of warehouse <b>latest</b> on business day 1 by 5pm. However, we strive to ship out all orders received until 8 AM on business day 1 on the same day.</p><br>
                <div style="clear"></div>

                <p class="contentFont"><b>Delivery of orders to customers</b></p><div class="martop5"></div>
                <div style="clear"></div>

                <p class="contentFont">Depending upon the delivery method chosen by you, the delivery service level agreement will start from the time your order is shipped out of our warehouse. For example, when using Domestic Standard delivery, all orders shipped out by 5 PM on business day 0 will get delivered latest on business day 1, by 6 PM.</p><br>
                <div style="clear"></div>

                <p class="contentFont">Please refer to our <a class="helpLink" href="http://www.ezycommerce.com/help">Help</a> section for detailed SLAs and other guidelines.</p><div class="martop5"></div>
                <div style="clear"></div>

                <p>Now you're all set, get started and get ready to transform the way you sell online.</p>



            </div>

            <div class="modal-footer">


                <button type="button" class="btn btn-default modelButtonCancel" data-dismiss="modal" id="dashboard-modalClose">Close</button>               
            </div>
        </div>
    </div>
</div>
<!-- model ends -->


<!-- <div class="footerPopUpContainer footerPopSlide-down" ng-controller="Base" ng-if="showFooterPopUp()"> -->
<div class="footerPopUpContainer footerPopSlide-down" ng-controller="Base" ng-if="0">
    <div class="col-sm-12 padd0 widget-form">
        <div class="header">Contact us<span class="glyphicon glyphicon-chevron-down"></span></div>
        <div class="content">
            
            <p>Leave us your details and we will get in touch with you as soon as possible.</p>

            <form name="contactForm" id="contactForm" enctype="multipart/form-data" novalidate angular-validator angular-validator-submit="popUpSubmit()">

                <p>
                    <input name="popUpSubject" ng-model="popUpSubject" type="text" class="form-control" placeholder="Subject" maxlength="100" required required-message="popUpValidationMessages.required">
                </p>
                
                <p>
                    <textarea name="popUpMessage" ng-model="popUpMessage" type="text" class="form-control" placeholder="Message" maxlength="300" required required-message="popUpValidationMessages.required"></textarea>
                </p>

                <!--<p><input class="attachments" type="file" file-model="attachment1" id="attachment1" name="attachment1" validator="popUpFileCheck()"></p>-->

                <!--<p><input class="attachments" type="file" file-model="attachment2" id="attachment2" name="attachment2" validator="popUpFileCheck()"></p>-->

                <p><input class="attachments" type="file" file-model="attachment3" id="attachment3" name="attachment3" validator="popUpFileCheck()"></p> 

                <p><button type="submit" class="btn btn-primary">Submit</button><em class="submitMessage"></em></p>

            </form>

        </div>
    </div>
</div>