<footer class="thFooter">
    <div class="container-fluid thFooterBg">
      <nav class="blog-nav">
        <!-- <a href="#/help" class="blog-nav-item">HELP AND SUPPORT <span class="glyphicon glyphicon-fot-sep">|</span></a>
        <a href="#/terms" class="blog-nav-item">TERMS OF USE <span class="glyphicon glyphicon-fot-sep">|</span></a>
        <a href="#/policy" class="blog-nav-item">PRIVACY POLICY</a> -->
        <a href="{{termsAndConditionFile}}" class="blog-nav-item" target="_blank">Terms & Conditions</a>
      </nav>
      <div class="clear"></div>
      <p class="text-muted thFootCopy">@ 2014 SINGAPORE POST LIMITED. ALL RIGHTS RESERVED</p>
      <p class="text-muted thFootPower hidden-xs">Powered by : </p>
      
    </div>
</footer>