<section class="container-fluid" ng-init="init()">
    <div class="row">
        <a href="javascript:" ng-click="setLang('de')">Deutch</a> |
        <a href="javascript:" ng-click="setLang('en')">English</a>
        <h1 translate="HEADLINE">xyz</h1>
        <div class="col-sm-12 widget-data-panel">
            <article class="widget-data widget-box clearfix">
                <div class="filter-box dashboardOrdersHeight">
                    <p class="link-hldr pull-left hvr-sweep-to-bottom" ng-repeat="option in dashBoardDateOptions">
                        <a href="javascript:;" title="{{option.name}}" ng-class="{active:option.selected}" ng-click="dateOptionChanged(option)" class="hvr-fade" ng-model="selectedDateOption">{{option.name}}</a>
                    </p>
                    <div class="input-group col-md-5 pull-right invisible " id="datetimepicker7">
                        <div class="input-daterange input-group rangepicker" id="datepicker">
                            <div class="input pull-left daterangefrm" id="date-range-from"></div>
                            <div class="input pull-left daterangeto" id="date-range-to"></div>
                        </div>
            <span class="input-group-addon datepickerbutton" ng-click="toggleDatePicker()">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
                        <input type='text' class="form-control" value={{salesBetween}}>
            <span class="input-group-addon">
                <span>Filter</span>
            </span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <h1 class="dashboard" ng-hide="!salesBetween">{{(selectedDateOption.value == "1d" || selectedDateOption.value == "-1d")? "Sales on" : "Sales between"}} {{salesBetween}}</h1>
                <hr class="dashboard" />
                <div id='quicklook-top' class="status-box">
                    <div class="row">
                        <div class="col-sm-3">
						<div class="hvr-glow hghtcntbox">
                            <div class="circle orders">
                                <span class="glyphicon glyphicon-orderdashboard"></span>
                            </div>
                            <span ng-show="!inboundRcvd" class="nodatatext-ql">SAMPLE</span>
                            <div class="text">
                                <!--<span class="number">{{qlOrdersCount | number:0}}</span><br/>-->
                                <span class="number" count-to="{{qlOrdersCount}}" value="{{0}}" duration="3"></span>
                                <span>Number of Orders</span>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-3">
						<div class="hvr-glow hghtcntbox">
                            <div class="circle products">
                                <span class="glyphicon glyphicon-productdashboard"></span>
                            </div>
                            <span ng-show="!inboundRcvd" class="nodatatext-ql">SAMPLE</span>
                            <div class="text">
                                <!--<span class="number">{{(!inboundRcvd)? topSellingCount :(topSellingProds.length) ? (topSellingProds.length | number) : 0}}</span><br/>-->
                                <span class="number" count-to="{{(!inboundRcvd)? topSellingCount :(topSellingProds.length) ? (topSellingProds.length | number) : 0}}" value="{{0}}" duration="3"></span>
                                <span>Number of Products Sold</span>
                            </div>
                        </div>
						</div>
                        <div class="col-sm-3">
						<div class="hvr-glow hghtcntbox">
                            <div class="circle units">
                                <span class="glyphicon glyphicon-unitsolddashboard"></span>
                            </div>
                            <span ng-show="!inboundRcvd" class="nodatatext-ql">SAMPLE</span>
                            <div class="text">
                                <!--<span class="number">{{qlUnitsSold | number:0}}</span><br/>-->
                                <span class="number" count-to="{{qlUnitsSold}}" value="{{0}}" duration="3"></span>
                                <span>Number of Units Sold</span>
                            </div>
                        </div>
						</div>
                        <div class="col-sm-3">
						<div class="hvr-glow hghtcntbox">
                            <div class="circle retails">
                                <span class="glyphicon glyphicon-retaildashboard"></span>
                            </div>
                            <span ng-show="!inboundRcvd" class="nodatatext-ql">SAMPLE</span>
                            <div class="text">
                                <!--<span class="number">{{qlRetailValue | number:0}}</span><br/>-->
                                <span class="number" count-to="{{qlRetailValue}}" value="{{0}}" duration="3"></span>
                                <span>Total Retail Value</span>
                            </div>
                        </div>
						</div>
                    </div>
                </div>
            </article>

            <div class="row">

                <div class="col-sm-12">
                    <article class="widget-main orderschart hvr-glow marginbtmnone">
                        <header>
                            Orders
                        </header>
                        <span ng-show="!inboundRcvd" class="nodatatext nodatatxtblk">SAMPLE</span>
                        <section class="announcebar">
                            <!--<nvd3 options="historicalBar.options" data="orderAggrDataChart"></nvd3>-->
                            <div id="bar-chart"></div>
                        </section>
                    </article>

                </div>

            </div>

            <div class="row">



                <div class="col-sm-4">
                    <article class="widget-aside marbtm0 hvr-glow">
                        <header>Notifications</header>
                        <!--<span class="nodatatext">SAMPLE</span>-->
                        <section class="widgetnotify">

                            <div class="popover-content">
                                <div class="nano">
                                    <div class="nano-content">
                                        <div ng-repeat="myData in myNotificationsDashboard track by $index" class="{{$index%2==0 ? 'Records odd' : 'Records even'}}">
                                            <header-notifications data="{{myData}}" ></header-notifications>
                                        </div>
                                        <div ng-if="!myNotificationsDashboard.length">
                                            <p>
                                                Currently you don't have any notifications <br> to display..
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section>
                    </article>
                </div>

                <div class="col-sm-4">
                    <article class="widget-aside announceArt hvr-glow">
                        <header>Announcements</header>
                        <!--<span class="nodatatext-announce">SAMPLE</span>-->
                        <section class="announce">
                            <div class="nano">
                                <div class="nano-content">
                                    <p ng-repeat="myData in announcements" class="{{$index%2==0 ? 'Records odd announcementsBorder' : 'Records even announcementsBorder'}}">
                                        <strong>
                                            <span ng-bind="myData.header||constants.notAvailableText"></span>
                                            <span class="announcementsTimeAgo" title="2015-02-27T18:48:17+08.00">3 days ago</span>
                                        </strong><br/>
                                        <span ng-bind="myData.message||constants.notAvailableText"></span>
                                    </p>
                                </div>
                            </div>
                            <p ng-if="!announcements">
                                <strong class="txtCenter">No records to display</strong><br/>
                            </p>
                        </section>

                    </article>
                </div>

                <div class="col-sm-4">
                    <article class="widget-main deliverymethod-panel hvr-glow">
                        <header>
                            <span>Delivery Method</span>
                        </header>
                        <span ng-show="!inboundRcvd" class="nodatatext-delivey">SAMPLE</span>
                        <div class="widgetbtn">
                            <button  ng-hide="deliveryMethodsChart.length < 1" class="btn btn-sm pull-right marlft8 hvr-fade" ng-click="populateDeliveryMethod('$')" ng-class="{active:delMethSortByDollar}">By $</button>
                            <button  ng-hide="deliveryMethodsChart.length < 1" class="btn btn-sm pull-right hvr-fade" ng-click="populateDeliveryMethod('#')" ng-class="{active:!delMethSortByDollar}">By #</button>
                        </div>

                        <section>
                            <p id="pie-chart-delivery" class="delivery-chart">
                                <!--<nvd3 options="pieDeliveryMethod.options" data="deliveryMethodsChart"></nvd3>-->
                            </p>
                        </section>
                    </article>
                </div>



            </div>

            <div class="row">
                <div class="col-sm-7 ">
                    <article class="widget-table overFlowHide hvr-glow">
                        <!-- <div class="gridStyle" ng-grid="gridOptions"></div> -->
                        <div class="widgettblhead">
                            <h3>Top Selling Products</h3>
                        </div>
                        <span ng-show="!inboundRcvd" class="nodatatext">SAMPLE</span>
                        <div class="topSellingProdsHeader">
                            <div class="col-sm-5 padd0">Product Name</div>
                            <div class="col-sm-4 padd0">SKU</div>
                            <div class="col-sm-3 padd0">Number of Units Sold</div>
                        </div>

                        <div class="col-sm-12">
                            <div class="container-fluid topSellingProds nano">
                                <div class="nano-content">

                                    <div class="clearfix"></div>

                                    <div ng-repeat="prod in topSellingProds | orderBy:'-sold'" class="{{$index%2==0 ? 'row Records odd' : 'row Records even'}}">
                                        <div class="showBorders col-sm-5 bdrlft">{{prod.prodName}}</div>
                                        <div class="showBorders col-sm-4">{{prod.SKU}}</div>
                                        <div class="showBorders col-sm-3 txtCentersm"><span>{{prod.sold}}</span></div>
                                    </div>

                                    <div class="row Records text-center noRecords" ng-show="topSellingProds.length < 1">
                                        <h1>No Data Available.</h1>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </article>

                </div>

                <div class="col-sm-5 ">
                    <div class="piechartpad hvr-glow">
                        <div class="piechartheader col-sm-12">
                            <span class="piecharttxt">Orders</span>

                            <button ng-click="togglePieChart('$')" ng-hide="pieChannelData.length < 1 && pieShipmentData.length < 1" class="btn btn-sm pull-right marlft8 hvr-fade" ng-class="{active:pieSortByDollar}">By $</button>
                            <button ng-click="togglePieChart('#')" ng-hide="pieChannelData.length < 1 && pieShipmentData.length < 1" class="btn btn-sm pull-right hvr-fade" ng-class="{active:!pieSortByDollar}">By #</button>
                        </div>
                        <span ng-show="!inboundRcvd" class="nodatatext-orders">SAMPLE</span>
                        <div class="col-sm-6 col-xs-6">
                            <article>
                                <section>
                                    <p id="pie-chart-channel" class="donut-chart">
                                        <!--<nvd3 options="pie.options" data="pieChannelData"></nvd3>-->
                                    </p>
                                    <header>Channel</header>
                                </section>
                            </article>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <article>
                                <section>
                                    <p id="pie-chart-shipment" class="donut-chart">
                                        <!--<nvd3 options="pie.options" data="pieShipmentData"></nvd3>-->
                                    </p>
                                    <header>Domestic / International</header>

                                </section>
                            </article>
                        </div>

                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-sm-7 productsoldpanel">
                    <article class="widget-main hvr-glow">
                        <header>
                            Products Sold
                        </header>
                        <span ng-show="!inboundRcvd" class="nodatatext">SAMPLE</span>
                        <section>
                            <!--<nvd3 options="line.options" data="prodAggrData"></nvd3>-->
                            <div id="line-chart"></div>
                        </section>
                    </article>
                    <!--  <article class="widget-main">
                       <header>
                           Products in Stock
                       </header>
                       <section>
                         <nvd3 options="line.options" data="line.data"></nvd3>
                       </section>
                     </article> -->
                </div>

                <div class="col-sm-5">

                    <div id="quicklook-bottom" class="status-box paddtop10">
                        <div class="row cntboxpadbtm">
                            <div class="col-sm-6">
							<div class="hvr-glow hghtcntbox">
                                <div class="circle orders">
                                    <span class="glyphicon glyphicon-orderdashboard"></span>
                                </div>
                                <span ng-show="!inboundRcvd" class="nodatatext-ql">SAMPLE</span>
                                <div class="text">
                                    <!--<span class="number">{{getAvgOrders() | number:2}}</span><br/>-->
                                    <span class="number" count-to="{{getAvgOrders()}}" decimal="2" value="{{0}}" duration="3"></span>
                                    <span>Average orders / day</span>
                                </div>
							</div>
                            </div>
                            <div class="col-sm-6">
							<div class="hvr-glow hghtcntbox">
                                <div class="circle products">
                                    <span class="glyphicon glyphicon-unitdashboard"></span>
                                </div>
                                <span ng-show="!inboundRcvd" class="nodatatext-ql">SAMPLE</span>
                                <div class="text">
                                    <!--<span class="number">{{maxOrders | number}}</span><br/>-->
                                    <span class="number" count-to="{{maxOrders}}"  value="{{0}}" duration="3"></span>
                                    <span>Max Number of orders</span>
                                </div>
								 </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
							<div class="hvr-glow hghtcntbox">
                                <div class="circle units">
                                    <span class="glyphicon glyphicon-productdashboard"></span>
                                </div>
                                <span ng-show="!inboundRcvd" class="nodatatext-ql">SAMPLE</span>
                                <div class="text">
                                    <!--<span class="number">{{(!inboundRcvd)? topSellingCount :(topSellingProds.length) ? (topSellingProds.length | number) : 0}}</span><br/>-->
                                    <span class="number" count-to="{{(!inboundRcvd)? topSellingCount :(topSellingProds.length) ? (topSellingProds.length) : 0}}" value="{{0}}" duration="3"></span>
                                    <span>Number of unique products</span>
                                </div>
								</div>
                            </div>
                            <div class="col-sm-6">
							<div class="hvr-glow hghtcntbox">
                                <div class="circle retails">
                                    <span class="glyphicon glyphicon-retaildashboard"></span>
                                </div>
                                <span ng-show="!inboundRcvd" class="nodatatext-ql">SAMPLE</span>
                                <div class="text">
                                    <!--<span class="number">{{getAveOrderValue(qlRetailValue,qlOrdersCount) | number}}</span><br/>-->
                                    <span class="number" count-to="{{getAveOrderValue(qlRetailValue,qlOrdersCount)}}" decimal="2" value="{{0}}" duration="3"></span>
                                    <span>Average order value</span>
                                </div>
								</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-sm-5">
                    <article class="widget-main orderbygeo hvr-glow">
                        <header>
                            Orders by Geography
                            <div class="widgetbtn">

                                <button ng-hide="geoChartData.length < 1" class="btn btn-sm pull-right marlft8" ng-click="populateGeoChart('$')" ng-class="{active:geoSortByDollar}">By $</button>
                                <button ng-hide="geoChartData.length < 1" class="btn btn-sm pull-right" ng-click="populateGeoChart('#')" ng-class="{active:!geoSortByDollar}">By #</button>
                            </div>
                        </header>
                        <span ng-show="!inboundRcvd" class="nodatatext-geo">SAMPLE</span>
                        <section>
                            <gmap geo-loactions="geoLocations"></gmap>
                        </section>
                    </article>
                </div>
                <div class="col-sm-7">
                    <article class="widget-main storageused hvr-glow">
                        <header>
                            Storage Used
                            <div class="widgetbtn">
                                <button ng-hide="stackAreaData.length < 1" class="btn btn-sm pull-right marlft8 hvr-glow" ng-click="populateStorageUsed('$')" ng-class="{active:storageSortByDollar}">By $</button>
                                <button ng-hide="stackAreaData.length < 1" class="btn btn-sm pull-right hvr-glow" ng-click="populateStorageUsed('#')" ng-class="{active:!storageSortByDollar}">By #</button>
                            </div>
                        </header>
                        <span ng-show="!inboundRcvd" class="nodatatext-geo">SAMPLE</span>
                        <section>
                            <!--<nvd3 options="stackAreaOptions" data="stackAreaData"></nvd3>-->
                            <div id="area-chart"></div>
                        </section>
                    </article>
                </div>


            </div>



        </div>
    </div>


</section>