<p class="contentFont">Now that you are signed in to your ezyCommerce account, we'd like to highlight some important points before you send in your inventory and place your orders. It's important you understand this clearly so you can plan ahead and we can always ensure a great experience for your customers.</p><br>
<div style="clear"></div>

<p class="contentFont"><b>Sending Shipments to our warehouse</b></p><div class="martop5"></div>
<div style="clear"></div>

<p class="contentFont">For all Inbound Shipments received by the warehouse on business day 0 by 4pm - goods will be received and ready for fulfilment <b>latest</b> on business day 2 by 4pm. However, we strive to receive all shipments within 1 business day and update you as soon as shipment is closed.</p><br>
<div style="clear"></div>

<p class="contentFont">Please follow the shipment preparation guidelines to ensure a smooth and timely receiving process.</p><br>
<div style="clear"></div>

<p class="contentFont"><b>Shipping Orders from our warehouse</b></p><div class="martop5"></div>
<div style="clear"></div>

<p class="contentFont">For all Outbound orders approved on business day 0 by 9am, Orders will be shipped out of warehouse <b>latest</b> on business day 1 by 5pm. However, we strive to ship out all orders received until 8 AM on business day 1 on the same day.</p><br>
<div style="clear"></div>

<p class="contentFont"><b>Delivery of orders to customers</b></p><div class="martop5"></div>
<div style="clear"></div>

<p class="contentFont">Depending upon the delivery method chosen by you, the delivery service level agreement will start from the time your order is shipped out of our warehouse. For example, when using Domestic Standard delivery, all orders shipped out by 5 PM on business day 0 will get delivered latest on business day 1, by 6 PM.</p><br>
<div style="clear"></div>

<p class="contentFont">Please refer to our <a class="helpLink" href="http://www.ezycommerce.com/help">Help</a> section for detailed SLAs and other guidelines.</p><div class="martop5"></div>
<div style="clear"></div>

<p>Now you're all set, get started and get ready to transform the way you sell online.</p>