<section class="container" ng-init="init()">
    <div class="row">
      <div class="col-sm-3">
        <ng-include src="'views/shipments/nav.html'"></ng-include>
      </div>
      <div class="col-sm-9">
        <article>
          <h2>Shipment</h2>
          <p>description goes here...</p>
          <h5>Search Products</h5>
          <form class="form-inline" role="form">
            <div class="form-group">
              <label class="sr-only" for="searchProducts">Search Products</label>
              <div class="input-group">
                <input type="text" class="form-control" id="searchProducts" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="searchProducts">Create Date Range</label>
              <div class="input-group">
                <div class="btn-group">
                  <button type="button" class="btn btn-default">Create Date Range</button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="searchProducts">Product Category</label>
              <div class="input-group">
                <div class="btn-group">
                  <button type="button" class="btn btn-default">Product Category</button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="checkbox">
              <label>
                 Active? <input type="checkbox" name="active">
              </label>
            </div>
            <div class="checkbox">
              <label>
                 Inactive? <input type="checkbox" name="inactive">
              </label>
            </div>
          </form>
          <div class="table-responsive widget-table">
            <table class="table table-hover table-bordered table-striped">
              <thead>
                <tr><td>Actions</td><td>Sku ID</td><td>Merchant</td><td>Name</td><td>Customer Name</td><td>Customer Address</td><td>Remarks</td></tr>
              </thead>

              <tbody>
                <tr><td><input type="checkbox" name="action"></td><td><a href="#" title="EZT001">EZT001</a></td><td>01-MAY-2014</td><td>123-ABC</td><td>Krishna</td><td>2010 Co</td><td>Name</td></tr>
                <tr><td><input type="checkbox" name="action"></td><td><a href="#" title="EZT001">EZT001</a></td><td>01-MAY-2014</td><td>123-ABC</td><td>Krishna</td><td>2010 Co</td><td>Name</td></tr>
                <tr><td><input type="checkbox" name="action"></td><td><a href="#" title="EZT001">EZT001</a></td><td>01-MAY-2014</td><td>123-ABC</td><td>Krishna</td><td>2010 Co</td><td>Name</td></tr>
                <tr><td><input type="checkbox" name="action"></td><td><a href="#" title="EZT001">EZT001</a></td><td>01-MAY-2014</td><td>123-ABC</td><td>Krishna</td><td>2010 Co</td><td>Name</td></tr>
                <tr><td><input type="checkbox" name="action"></td><td><a href="#" title="EZT001">EZT001</a></td><td>01-MAY-2014</td><td>123-ABC</td><td>Krishna</td><td>2010 Co</td><td>Name</td></tr>
                <tr><td><input type="checkbox" name="action"></td><td><a href="#" title="EZT001">EZT001</a></td><td>01-MAY-2014</td><td>123-ABC</td><td>Krishna</td><td>2010 Co</td><td>Name</td></tr>
                <tr><td><input type="checkbox" name="action"></td><td><a href="#" title="EZT001">EZT001</a></td><td>01-MAY-2014</td><td>123-ABC</td><td>Krishna</td><td>2010 Co</td><td>Name</td></tr>
                <tr><td><input type="checkbox" name="action"></td><td><a href="#" title="EZT001">EZT001</a></td><td>01-MAY-2014</td><td>123-ABC</td><td>Krishna</td><td>2010 Co</td><td>Name</td></tr>
                <tr><td><input type="checkbox" name="action"></td><td><a href="#" title="EZT001">EZT001</a></td><td>01-MAY-2014</td><td>123-ABC</td><td>Krishna</td><td>2010 Co</td><td>Name</td></tr>
                <tr><td><input type="checkbox" name="action"></td><td><a href="#" title="EZT001">EZT001</a></td><td>01-MAY-2014</td><td>123-ABC</td><td>Krishna</td><td>2010 Co</td><td>Name</td></tr>

              </tbody>
              
            </table>
            <div class="table-footer row">
              <div class="col-sm-4 row-info">Showing 1-10 of 20 products</div>
              <div class="col-sm-4">View <div class="btn-group">
                  <button type="button" class="btn btn-default">10</button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">10</a></li>
                    <li><a href="#">20</a></li>
                    <li><a href="#">15</a></li>
                  </ul>
                </div> per page
              </div>
              <div class="col-sm-4">
                <ul class="pagination pull-right">
                  <li class="disabled"><a href="#">&laquo;</a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>