<aside class="full">
  <article class="widget-nav">
      <ul class="list-group">
        <li class="list-group-item">
          <!-- <span class="badge">14</span> -->
          <a href="javascript:;" title="Expand/Collapse" class="glyphicon glyphicon-resize-horizontal"></a><span class="hidden-xs">Quick Links</span>
        </li>
        <li class="list-group-item">
          <!-- <span class="badge">14</span> -->
          <a href="#/shipments/create" title="Create a shipment"><span class="glyphicon glyphicon-plus-sign"></span><span class="hidden-xs">Create a product</span></a>
        </li>
        <li class="list-group-item">
          <!-- <span class="badge">14</span> -->
          <a href="#/shipments/upload" title="Upload a file"><span class="glyphicon glyphicon-upload"></span><span class="hidden-xs">Upload a file</span></a>
        </li>
      </ul>
  </article>
  <article class="widget-nav">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="glyphicon glyphicon-hdd"></span><span class="hidden-xs">Order Status</span>
        </li>
        <li class="list-group-item">
          <span class="badge">28</span>
          <a href="#/shipments" title="All"><span class="glyphicon glyphicon-certificate"></span><span class="hidden-xs">All</span></a>

        </li>
        <li class="list-group-item">
          <span class="badge">14</span>
          <a href="#/shipments/pending" title="Pending"><span class="glyphicon glyphicon-retweet"></span><span class="hidden-xs">Pending</span></a>

        </li>
        <li class="list-group-item">
          <span class="badge">14</span>
          <a href="#/shipments/intransit" title="In Transit"><span class="glyphicon glyphicon-plane"></span><span class="hidden-xs">In Transit</span></a>
        </li>
        <li class="list-group-item">
          <span class="badge">14</span>
          <a href="#/shipments/received" title="Received"><span class="glyphicon glyphicon-certificate"></span><span class="hidden-xs">Received</span></a>
        </li>
        <li class="list-group-item">
          <span class="badge">14</span>
          <a href="#/shipments/cancelled" title="Cancelled"><span class="glyphicon glyphicon-bullhorn"></span><span class="hidden-xs">Cancelled</span></a>
        </li>
      </ul>
  </article>
</aside>