<section class="container-fluid" ng-init="init()">
  <form class="form-signin" role="form" name="form" novalidate>
	<div class="form-signin-title">
	<span class="triangle-lft"></span>
        <h2 class="form-signin-heading"><span class="ezyHide">ezyCommerce</span>&nbsp;</h2>
	<span class="triangle-rgt"></span>
	</div>
<div class="bdycnt">	
		<div class="row">
		<h1>Welcome</h1>
		</div>
		<div class="row">
		<label class="loginButton5">Password has been changed successfully.<br>Please login to continue</label>	
		</div>

		<div class="row input-group">
		<span class="input-group-addon">
                <span class="glyphicon glyphicon-loginuser"></span>
        </span>
        <input type="text" class="form-control marbtm" placeholder="UserID" required autofocus ng-model="email"/>
		</div>
		<div class="row input-group">
		<span class="input-group-addon">
                <span class="glyphicon glyphicon-pwd"></span>
        </span>
        <input type="password" class="form-control" placeholder="Password" required ng-model="password"/ >
		</div>
		<div class="row">
        <label class="checkbox pull-left">
          <input type="checkbox" value="remember-me"> Remember Me
        </label>
		<label class="pull-right"><a href="javascript:void(0)"> Forgot Password</a></label>
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-lg btn-primary btn-block loginButton" ng-click="submit()">Login</button>
      </div>
	  <div class="row">
        <label class="pull-left">New to ezyCommerce? </label>
		<label class="pull-right"><a href="/signup">SignUp</a></label>        
      </div>	  
	</div>
	  </form>
</section>