<section class="container-fluid" ng-init="init()">
	<!-- forgot password step1 -->
	<form class="form-signin" role="form" name="form" novalidate ng-show="step==1">
		<div class="form-signin-title">
			<span class="triangle-lft"></span>
			<h2 class="form-signin-heading"><span class="ezyHide">ezyCommerce</span>&nbsp;</h2>
			<span class="triangle-rgt"></span>
		</div>
		<div class="bdycnt">
			<div class="row">
				<h2>Forgot Password</h2>
			</div>

			<div class="row input">
				<label class="loginButton3">Enter your email address below and we'll help you reset your password</label>
				<label class="">Email</label>
				<input type="text" class="form-control marbtm" required autofocus ng-model="email"/>
			</div>
			<div class="row">
				<label ng-if="resetForgotPWSuccess" class="loginButton2">{{resetForgotPWSuccess}}</label>
				<label ng-if="resetForgotPWError" class="loginButton-error">{{resetForgotPWError}}</label>
				<label ng-if="isLinkExpired" class="loginButton-error">{{linkExpiredMessage}}</label>
				
				<button type="submit" ng-disabled="form.$invalid" class="btn btn-lg btn-primary btn-block loginButton4" ng-click="resetPassword(email)">Send Email</button>
			</div>
			<div class="row">
				<label class="pull-right"><a href="#/login">Log in</a></label>
			</div>
		</div>
	</form>


	<!-- forgot password step2 -->
	<form class="form-signin" role="form" name="form" novalidate ng-if="step==2">
		<div class="form-signin-title">
			<span class="triangle-lft"></span>
			<h2 class="form-signin-heading"><span class="ezyHide">ezyCommerce</span>&nbsp;</h2>
			<span class="triangle-rgt"></span>
		</div>
		<div class="bdycnt">
			<div class="row">
				<h2>Forgot Password</h2>
			</div>
			<div class="row input">
				<label class="loginButton6">Enter your security answer given during SignUp</label>
				<label class="loginButton6">Security Question : My nickname in 3rd grade</label>
				<label class="">Security Answer</label>
				<input type="text" class="form-control marbtm" required autofocus ng-model="email"/>
			</div>
			<div class="row">
				<center>
					<label class="loginButton2">Reset instruction has been sent to your email</label>
				</center>
				<button type="submit" ng-disabled="form.$invalid" class="btn btn-lg btn-primary btn-block loginButton1" ng-click="forgotStep()">Reset Password</button>
			</div>
			<div class="row">
				<label class="pull-right"><a href="#/login">Log in</a></label>
			</div>
		</div>
	</form>

	<!-- forgot password step3 -->
	<form class="form-signin" role="form" name="form" novalidate angular-validator ng-if="step==3" angular-validator-submit="changePassword(password, confirmPassword)">
		<div class="form-signin-title">
			<span class="triangle-lft"></span>
			<h2 class="form-signin-heading"><span class="ezyHide">ezyCommerce</span>&nbsp;</h2>
			<span class="triangle-rgt"></span>
		</div>
		<div class="bdycnt">
			<div class="row">
				<h2>Change Password</h2>
			</div>

			<div class="row input" >
				<div class="col-md-12 pad-none">
					<label class="boldfont loginButton3">It appears you've forgotten your password.<br>To create a new one, just enter and confirm it.</label>
				</div>
			</div>
            <div class="row">
				<div class="col-md-12 pad-none">
					<label class="boldfont">Email</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 pad-none mrgBtm15" ng-bind="changePasswordEmail || constants.notAvailableText">
                	
                </div>
			</div>
			<div class="row">
				<div class="col-md-12 pad-none">
					<label class="boldfont">New Password</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 pad-none">
                	<input
                        name="reset-password-nwpassword"
                        id="reset-password-nwpassword"
                        type="password"
                        class="form-control marbtm"
                        autofocus
                        ng-model="password"
                        required required-message="validationMessages.required"
                        maxlength="20"
                        validator="isPasswordFormat(password)"
                        invalid-message="pwErrorMessage1"
                        ng-class="{'has-success':isPasswordFormat(password)}" 
                        />
                </div>
                <div class="col-md-1 col-sm-1 pull-right paddnone">
                        <div class="checkPassword-Glyphicon">
                            <span ng-show="isPasswordFormat(password)" class="glyphicon glyphicon-ok-tick-resetPassword"></span>
                            <span ng-hide="isPasswordFormat(password)" ng-if="password.length" class="glyphicon glyphicon-remove-cross-resetPassword"></span>
                       </div>
                </div>
			</div>


			<div class="row">
				<label class="loginButton7">Password should be 8 - 20 characters long. At least one upper case alphabet, one number and one special character like '@', '_', '!'.</label>
			</div>

			<div class="row">
				<div class="col-md-12 pad-none">
					<label class="boldfont">Retype Password</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 pad-none">
				  	<input
	                    name="reset-password-retype-password"
	                    type="password"
	                    class="form-control"
	                    id="reset-password-retype-password"
	                    ng-model="confirmPassword"
	                    required
	                    validator="isPasswordMatch(password, confirmPassword)"
	                    invalid-message="pwErrorMessage"
	                    required-message="validationMessages.required"
	                    ng-class="{'has-success':isPasswordMatch(password, confirmPassword)}" 
	                    maxlength="20" />
	            </div>
	            <div class="col-md-1 col-sm-1 pull-right paddnone">
	                <div class="checkPassword-Glyphicon">
	                    <span ng-show="isPasswordMatch(password, confirmPassword)" class="glyphicon glyphicon-ok-tick-resetPassword"></span>
	                    <span ng-hide="isPasswordMatch(password, confirmPassword)" ng-if="confirmPassword.length && password.length" class="glyphicon glyphicon-remove-cross-resetPassword"></span>
	                </div>
	            </div>
	        </div>


				<label ng-if="resetChangePWSuccess" class="loginButton2">{{resetChangePWSuccess}}</label>
				<label ng-if="resetChangePWError" class="loginButton-error">{{resetChangePWError}}</label>
				<button type="submit" ng-disabled="form.$invalid" class="btn btn-lg btn-primary btn-block loginButton8" ng-click="">Change Password</button>
			</div>
			<div class="row">
				<label class="pull-right"><a href="#/login">Log in</a></label>
			</div>
		</div>
	</form>


</section>