<section class="container-fluid" ng-init="init()">
	<form class="form-signin" role="form" name="form" novalidate>
		<div class="form-signin-title">
			<span class="triangle-lft"></span>
			<h2 class="form-signin-heading"><span class="ezyHide">ezyCommerce</span>&nbsp;</h2>
			<span class="triangle-rgt"></span>
		</div>

		<div class="bdycnt">
			<div class="row">
				<h2>Change Password</h2>
			</div>
			<div class="row input">
				<label class="boldfont loginButton3">It appears you've forgotten your password.<br>To create a new one, just enter and confirm it.</label>
				<label class="boldfont">New Password</label>
				<input type="text" class="form-control marbtm" required autofocus ng-model="password"/>
			</div>
			<div class="row">

				<label class="loginButton7">Password should be 8 - 20 characters long. At least one upper case alphabet, one number and one special character like '@', '_', '!'.</label>
			</div>

			<div class="row input">
				<label class="boldfont">Retype Password</label>
				<input type="text" class="form-control marbtm" required autofocus ng-model="confirmPassword"/>

				<button type="submit" ng-disabled="form.$invalid" class="btn btn-lg btn-primary btn-block loginButton8" onclick="window.location.href='#/'">Change Password</button>
			</div>
			<div class="row">
				<label class="pull-right"><a href="#/login">Log in</a></label>
			</div>
		</div>
	</form>
</section>