<section class="container-fluid" ng-init="init()">
  <form class="form-signin" role="form" name="form" novalidate>
	<div class="form-signin-title">
	<span class="triangle-lft"></span>
        <h2 class="form-signin-heading"><span class="ezyHide">ezyCommerce</span>&nbsp;</h2>
	<span class="triangle-rgt"></span>
	</div>
<div class="bdycnt">	
		<div class="row">
		<h2>Forgot Password</h2>
		</div>
		<div class="row input">
		<label class="loginButton6">Enter your security answer given during SignUp</label>			
		<label class="loginButton6">Security Question : My nickname in 3rd grade</label>
		<label class="">Security Answer</label>
        <input type="text" class="form-control marbtm" required autofocus ng-model="email"/>        
		</div>		
		<div class="row">
        <center>
		<label class="loginButton2">Reset instruction has been sent to your email</label>
		</center>
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-lg btn-primary btn-block loginButton1" onclick="window.location.href='#/forgotpasswordreset'">Reset Password</button>
      </div>
	  <div class="row">        
		<label class="pull-right"><a href="#/login">Log in</a></label>        
      </div>	  
	</div>
	  </form>
</section>