<section class="container-fluid" ng-init="init()">
  <div class="row">
    <div class="col-xs-12">
      <ng-include src="'views/accounts/nav.html'"></ng-include>
      <section class="content full widget-form">
        <div class="row">
          <div class="col-sm-12">
            <form role="form"  name="acc-connections" novalidate angular-validator angular-validator-submit="">
              <h2 class="thHead">Connections</h2>
              <div class="container-fluid">
                <div class="row paddbtm30">
                 <div class="col-sm-12 col-lg-9 paddnone" >
                      <div class="thHeadIco glyphicon glyphicon-con col-lg-1 col-sm-1 hidden-xs"></div>
                        <div class="thContent col-lg-11 col-sm-10 paddtop34">
                          You can manage connections to external sales channels - marketplaces and shopping carts here.
                      </div>
                    </div>
                </div>
              </div>
              <div class="clear"></div>
              <div class="panel-group">
                <!--<div class="row paddbtm20">
                  <div class="row">
                    <div class="col-sm-12 pad0">
                      <a href="#/accounts/connections/addNewChannel">
                        <button class="btn btn-primary">Add new Channel</button>
                      </a>
                    </div>
                  </div>
                </div>-->
                <div class="row paddbtm20 xstxt-padd0 salesChan">
                  <div class="panel panel-default col-md-12 col-sm-12 col-xs-12 xstxt-padd0 smtxt-padd0 paddrgt20">
                    
                    
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a href="javascript:;" id="acc-bill-fulCost-header">Sales Channels</a>
                      </h4>
                    </div>  
                    
                    <div id="collapseOne" class="panel-collapse collapse in">
                      <div class="panel-body pnlbdy-pad5" >
                        
                          <div class="row proHeader txtLeft">
                            <div class="con-storeH  col-xs-12 col-sm-3 col-md-3" >Sales Channel</div>
                            <div class="con-storeNameH  col-xs-12 col-sm-3 col-md-3" >User Name</div>
                            <div class="con-createDateH  col-xs-12 col-sm-2 col-md-2">Created Date</div>
                            <div class="con-actionH  col-xs-12 col-sm-3 col-md-4">Actions</div>
                          </div>
                          <div class="clear"></div>

                          <div class="row proRow " ng-class="" ng-repeat="channelList in getChannelList">
                            <div class="con-store col-xs-12 col-sm-3 col-md-3"><span ng-bind="channelList.channelCode"></span></div>
                            <div class="con-storeName col-xs-12 col-sm-3 col-md-3">NA</div>
                            <div class="con-createDate col-xs-12 col-sm-2 col-md-2"><span ng-bind="channelList.createdDatetime"></span></div>
                            <div class="con-action col-xs-12 col-sm-3 col-md-3">
                                Update Tracking Status
                                <div class="onoffswitch">
                                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked ng-model="model.updateTrackingStatus" ng-click="trackingWarning(model.updateTrackingStatus)">
                                  <label class="onoffswitch-label" for="myonoffswitch">
                                      <span class="onoffswitch-inner"></span>
                                      <span class="onoffswitch-switch" ng-class="{'onoffswitch-innerInverted':!model.updateTrackingStatus}"></span>
                                  </label>
                                </div>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 connDel">
                              <span class="connDelBorder"></span>
                              <span class="glyphicon glyphicon-cross pointerCursor" ng-click="removeSalesChannel()"></span>
                            </div>
                          </div>

                          <div class="row userAccRow noRecordDisplay col-xs-12 col-sm-12 col-md-12" ng-if="getChannelList.length==0">

                           <div class="fleft noDataRightContent">
                            <p class="noProd txtBold">You don't have any sales channel connected.</p>
                            <p class="noStart">Start by adding sales channels by clicking on your desired marketplace. Once authorized we will automatically pull orders from all your stores and ship it to your customers based on your preferences</p>
                          </div>
                         </div>
                          
                           <div class="clearfix"></div>
                        
                      </div>
                    </div>
                  </div>
                </div>
				
				<div class="row">
				
				<div class="panel-heading">
                      <h4 class="panel-title">
                        <a href="javascript:;" id="acc-bill-fulCost-header">Add new Channels</a>
                      </h4>
                </div>
				  <div class="col-sm-1 paddnone wdth98 martop15">
					<div class="form-group pull-right ebayButton">
						<a href="#/accounts/connections/integrateEbay"><img src="images/ebay.jpg" alt="eBay" class="img-rounded"></a>
					</div>
					<div class="col-sm-12 pad0">
                      <a href="#/accounts/connections/integrateEbay">
                        <!-- <button class="btn btn-primary integratebtn" ng-disabled="hideEbay&&!constants.developerMode" ng-class="{'bg-grey':hideEbay&&!constants.developerMode}">Connect&nbsp;</button> -->
                        <!-- <button class="btn btn-primary integratebtn" ng-disabled="hideEbay" ng-class="{'bg-grey':hideEbay}">Connect&nbsp;</button> -->
                        <button class="btn btn-primary integratebtn" ng-disabled="true" ng-class="{'bg-grey':true}">Connect&nbsp;</button>
                      </a>
                    </div>
				  </div>
				</div>
				
              </div>
              <div class="col-sm-12 text-danger noAccessAcl ezyHide txtRight txtItalic txtLeft padd0" check-acl="ebayConnectButton" showmessage="hide"></div>
            </form>
          </div>
         </div>
       </section>
    </div>
  </div>
</section>