<section class="container-fluid" ng-init="init()">
    <div class="row orderReportsContainer">
        <div class="col-xs-12">
            <ng-include src="'views/accounts/nav.html'"></ng-include>
            <section class="content full  widget-form">
                <div class="row">
                    <div class="col-sm-12">
                        <form role="form">
                            <h2 class="thHead">Orders Report</h2>
                            <div class="container-fluid">
                                <div class="row paddbtm30">
                                    <div class="col-sm-12 col-lg-9 padd0">
                                        <div class="thHeadIco glyphicon glyphicon-order col-lg-1 col-sm-1 hidden-xs"></div>
                                        <div class="thContent col-lg-11 col-sm-10 txtJustify">
                                            Here you can download all orders  by specifying a date range. Maximum date range allowed is 3 months from the current date. Please call client service and raise a request if you need older records.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-heading">
                                <h4 class="panel-title" id="acc-reports-ord-download">Download Orders File</h4>
                            </div>

                            <div>
                                <h4>Filter Orders</h4>
                            </div>

                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-11">
                                            <div class="row ordrptchkpanel">
                                                <div class="form-group">
                                                    <label for="acc-reports-ord-ordCat"  class="col-sm-3 col-md-2 col-lg-2 control-label paddrgt0">Order Created Date Range</label>
                                                    <div class="col-sm-3 col-md-width29">

                                                        <!--<div class="input-group product-date thCreDate">
                                                            <div multi-select id="acc-reports-order-createdDateRange" name="acc-reports-order-createdDateRange"
                                                            input-model="dateOptionsOrders" output-model="selectedDateRangeOrders" button-label="name" item-label="name" tick-property="ticked" selection-mode="single" helper-elements="none" default-label="Created Date Range" disable-property="label" ></div>
                                                        </div>-->

                                                        <div class="form-group">
                                                            <div class="btn-group date-selector">
                                                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" id="product-date-selector">
                                                                    {{(selectedDateRangeOrders[0].name)? selectedDateRangeOrders[0].name : dateOptionsOrders[0].name}} <span class="caret"></span>
                                                                </button>
                                                                <span class="rowCount" ng-if="gridOptions.selectedItems.length">{{gridOptions.selectedItems.length}} row(s) selected</span>

                                                                <ul class="dropdown-menu" role="menu">
                                                                    <li ng-repeat="dateOption in dateOptionsOrders">
                                                                      <span ng-class="{'cal-active':dateOption.ticked}" ng-if="dateOption.value !='custom' && dateOption.value !='none'" ng-click="ordTickSelection(dateOptionsOrders, $index)">
                                                                        <a href="javascript:void(0)">{{dateOption.name}}</a>
                                                                        <span ng-show="dateOption.ticked" class="tickMark">&#10004;</span>
                                                                      </span>

                                                                        <!--custom date starts-->
                                                                        <ul ng-if="dateOption.value =='custom'">
                                                                            <li class="dropdown-submenu">
                                                                                <span ng-click="ordTickSelection(dateOptionsOrders, $index)" ng-class="{'cal-active':dateOption.ticked}">
                                                                                    <a href="javascript:;">{{dateOption.name}}</a>
                                                                                    <span ng-show="dateOption.ticked" class="tickMark">&#10004;</span>
                                                                                </span>

                                                                                <ul ng-class="{'dropdown-menu':true, 'cal-disblk':(dateOption.ticked)}">
                                                                                    <li>
                                                                                        <div class="input-daterange input-group date-rangepicker" id="datepicker">
                                                                                            <div ng-model="fromdate" class="input pull-left daterangefrm" id="orders-reports-fromdate"></div>
                                                                                            <div ng-model="todate" class="input pull-left daterangeto" id="orders-reports-todate"></div>
                                                                                        </div>
                                                                                    </li>
                                                                                </ul>
                                                                            </li>
                                                                        </ul>
                                                                        <!--custom date - ends-->
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                        </div>


                                                    </div>


                                                    <!-- <div class="col-md-1 col-sm-2 col-lg-1 col-xs-3">
                                                      <div class="checkbox col-sm-2 col-md-1 col-lg-1 ">
                                                        <label><input type="checkbox" class="chkpadd  marg-top1"  ng-model="isDomestic">Domestic</label>
                                                      </div>
                                                    </div>

                                                    <div class="col-md-2 col-sm-3 col-xs-3 col-xs-6">
                                                      <div class="checkbox col-sm-3 col-md-1 col-lg-1  ">
                                                        <label><input type="checkbox" class="chkpadd  marg-top1"  ng-model="isInternational">International</label>
                                                      </div>
                                                    </div> -->
                                                    <div class="col-md-5 col-sm-2">
                                                        <label class="checkbox-inline chkpadd">
                                                            <input type="checkbox" id="inlineCheckbox1" value="option1"  ng-model="isDomestic">Domestic</label>
                                                        <label class="checkbox-inline chkpadd">
                                                            <input type="checkbox" id="inlineCheckbox2" value="option2"  ng-model="isInternational">International</label>
                                                    </div>
                                                </div>

                                            </div>
                             
                                        </div>



                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-11">
                                            <div class="row ordrptchkpanel">
                                                <div class="form-group">
                                                    <label for="acc-reports-ord-ordCat"  class="col-sm-3 col-md-2 col-lg-2 control-label paddrgt0">Filter by Order Channel</label>
                                                    <div class="col-sm-3 col-md-width29">

                                                  
                                                        <div class="input-group product-category thCat thRepProCat">
                                                            <div id="acc-reports-product-prodCat" multi-select input-model="orderChannelOptions" output-model="selectedOrderChannel" button-label="name" item-label="name" tick-property="ticked" max-labels="1" default-label="Order Channel" min-width="300px" max-height="220px" helper-elements="all none filter" id="product-search-category">
                                                            </div>
                                                        </div>


                                                    </div>


                                                  
                                                </div>

                                            </div>
                             
                                        </div>



                                    </div>

                                     <div class="row">
                                        <div class="col-sm-12 col-md-11">
                                            <div class="row ordrptchkpanel">
                                                <div class="form-group">
                                                    <label for="acc-reports-ord-ordCat"  class="col-sm-3 col-md-2 col-lg-2 control-label paddrgt0">Filter by Order Status</label>
                                                    <div class="col-sm-3 col-md-width29">

                                                  
                                                        <div class="input-group product-category thCat thRepProCat">
                                                            <div id="acc-reports-product-prodCat" multi-select input-model="orderStatus" output-model="selectedOrderStatus" button-label="display" item-label="display" tick-property="ticked" max-labels="1" default-label="Order Status" min-width="300px" max-height="220px" helper-elements="all none filter" id="product-search-category">
                                                            </div>
                                                        </div>


                                                    </div>


                                                  
                                                </div>

                                            </div>
                             
                                        </div>



                                    </div>



                                      
                                            </div>

                                            
                                   

                                           <div class="row">

                                                <div class="col-sm-8 col-md-8 col-lg-9">
                                                    <button class="btn btn-primary headrTopPad col-sm-offset-5 col-md-marlft21 pull-left marrgt20" ng-click="downloadOrdersRep()"   ng-disabled="(selectedDateRange[0].value=='custom' && (!repOrdFromdate || !repOrdTodate))">Download
                                                    </button>
                                                </div>
         
                                            </div>




                                </div>
                            </div>


                            <div class="panel-heading" ng-if="0">
                                <h4 class="panel-title">
                                    <a href="javascript:;" id="acc-reports-downloadSum-header">Orders file download summary</a>
                                </h4>
                            </div>

                            <div class="newGridContainer container-fluid" ng-if="0">


                                <div class="row">
                                    <div class="dataTog col-xs-12 col-sm-12 col-md-12">You can download up to 10 previously generated files.</div>
                                </div>
                            </div>

                            <div class="newGridContainer container-fluid paddbtm30" ng-if="0">

                                <div class="row proHeader headerTwo">

                                    <div class="proHeaMerH col-xs-12 col-sm-3 col-md-3 headerTwo">Date
                                        & Time</div>
                                    <div class="proHeaCatH col-xs-12 col-sm-5 col-md-5 headerTwo">Filters
                                        Used</div>
                                    <div class="proHeaDimH col-xs-12 col-sm-3 col-md-3 headerTwo">Actions</div>
                                </div>
                                <div class="clear"></div>


                                <div class="row proRow" ng-class="{rowSelected:product.Selected}"
                                     ng-repeat="product in myData">

                                    <div class="proHeaCat col-xs-12 col-sm-2 col-md-1">
                                        {{getCategory(product.mainProductCategory) | addEllipse:20 }}</div>

                                    <div class="proHeaAle col-xs-12 col-sm-1 col-md-1">
                                        {{getInventoryAlertLevel(product.inventoryAlertLevel)}}</div>

                                    <div class="proHeaAle col-xs-12 col-sm-1 col-md-1">
                                        {{getInventoryAlertLevel(product.inventoryAlertLevel)}}</div>

                                </div>


                                <div class="row proRow" ng-if="!myData.length">

                                    <div class="noRecordDisplay col-xs-12 col-sm-12 col-md-12">

                                        <p class="noProd txtBold">You don't have any download history.</p>


                                    </div>

                                </div>



                            </div>
                            </form>
                    </div>
                   
                </div>

        </div>
</section>
</div>
</div>
</section>