<section class="container-fluid" ng-init="init()">
    <div class="row">
        <div class="col-xs-12">
            <ng-include src="'views/accounts/nav.html'"></ng-include>
            <section class="content full  widget-form">
                <div class="row">
                    <div class="col-sm-12">
                        <form role="form">
                            <h2 class="thHead">Products Report</h2>
                            <div class="container-fluid">
                                <div class="row paddbtm30">
                                    <div class="col-sm-12 col-lg-9 padd0">
                                        <div class="thHeadIco glyphicon glyphicon-product-report col-lg-1 col-sm-1 hidden-xs"></div>
                                        <div class="thContent col-lg-11 col-sm-10 txtJustify"> Here you can either download all products or download filtered data. Apply the filter and proceed to Download.By default Product Category is All and Active is selected. The report will be in xls format which can be used for file uploads.</div>
                                    </div>
                                </div>
                            </div>



                            <div class="panel-heading">
                                <h4 class="panel-title">Download Products file</h4>
                            </div>

                            <div>
                                <h4>Filter Products</h4>
                            </div>

                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-11">

                                            <div class="row">

                                                <div class="form-group">
                                                    <label for="acc-reports-product-prodCat"  class="col-sm-3 col-md-2 col-lg-2 control-label">Product Category</label>
                                                    <div class="col-sm-3">
                                                        <div class="input-group product-category thCat thRepProCat">
                                                            <div id="acc-reports-product-prodCat" multi-select input-model="categoryOptions" output-model="selectedProdCat" button-label="name" item-label="name" tick-property="ticked" max-labels="1" default-label="Product Category" min-width="300px" max-height="220px" helper-elements="all none filter" id="product-search-category">
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <div class="col-md-1 col-sm-2 col-lg-1 col-xs-3 paddnone">
                                                        <div class="checkbox col-sm-2 col-md-1 col-lg-1 ">
                                                            <label><input type="checkbox" class="chkpadd marg-top1" ng-model="isActive">Active</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2 col-sm-3 col-xs-3 col-xs-6 paddnone">
                                                        <div class="checkbox col-sm-3 col-md-1 col-lg-1 ">
                                                            <label><input type="checkbox" class="chkpadd marg-top1" ng-model="isInActive">InActive</label>
                                                        </div>
                                                    </div>



                                                </div>
                                            </div>
                                            <div class="row" >
                                                <div class="form-group">
                                                    <label class="col-sm-3 col-md-2 col-lg-2 control-label">Created Date Range</label>

                                                    <div class="col-sm-3">
                                                        <div class="input-group product-date thCreDate">
                                                            <div class="form-group">
                                                                <div class="btn-group date-selector">
                                                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" id="product-date-selector">
                                                                        {{(selectedDateRange[0].name)? selectedDateRange[0].name : dateOptionsProducts[0].name}} <span class="caret"></span>
                                                                    </button>
                                                                    <span class="rowCount" ng-if="gridOptions.selectedItems.length">{{gridOptions.selectedItems.length}} row(s) selected</span>

                                                                    <ul class="dropdown-menu" role="menu">
                                                                        <li ng-repeat="dateOption in dateOptionsProducts">
                                                              <span ng-class="{'cal-active':dateOption.ticked}" ng-if="dateOption.value !='custom' && dateOption.value !='none'" ng-click="prodTickSelection(dateOptionsProducts, $index)">
                                                                <a href="javascript:void(0)">{{dateOption.name}}</a>
                                                                <span ng-show="dateOption.ticked" class="tickMark">&#10004;</span>
                                                              </span>

                                                                            <!--custom date starts-->
                                                                            <ul ng-if="dateOption.value =='custom'">
                                                                                <li class="dropdown-submenu">
                                                                        <span ng-click="prodTickSelection(dateOptionsProducts, $index)" ng-class="{'cal-active':dateOption.ticked}">
                                                                            <a href="javascript:;">{{dateOption.name}}</a>
                                                                            <span ng-show="dateOption.ticked" class="tickMark">&#10004;</span>
                                                                        </span>

                                                                                    <ul ng-class="{'dropdown-menu':true, 'cal-disblk':(dateOption.ticked)}">
                                                                                        <li>
                                                                                            <div class="input-daterange input-group date-rangepicker" id="datepicker">
                                                                                                <div ng-model="fromdate" class="input pull-left daterangefrm" id="product-reports-fromdate"></div>
                                                                                                <div ng-model="todate" class="input pull-left daterangeto" id="product-reports-todate"></div>
                                                                                            </div>
                                                                                        </li>
                                                                                    </ul>
                                                                                </li>
                                                                            </ul>
                                                                            <!--custom date - ends-->
                                                                        </li>
                                                                    </ul>
                                                                </div>

                                                            </div>
                                                            <!--<div multi-select id="acc-reports-product-createdDateRange"
                                                                 input-model="dateOptionsProducts" output-model="selectedDateRangeselectedDateRange"
                                                                 button-label="name" item-label="name" tick-property="ticked" selection-mode="single"
                                                                 helper-elements="none" default-label="Created Date Range" disable-property="label" id="product-date-range">
                                                            </div>-->
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!--selectedDateRange -->
                                            <!--<div class="row">
                                                <label class="col-sm-3 col-md-2 col-lg-2"></label>
                                                <div class="col-sm-4 ">

                                                    <div class="col-md-2 col-sm-3 col-lg-5 col-xs-3 paddnone width37 marrgt20" ng-show="selectedDateRange[0].value=='custom'">
                                                        <div class="form-group thDateFrom" >
                                                            <label class="sr-only" for="product-reports-fromdate">From Date</label>
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="product-reports-fromdate" ng-model="prodCustomFromDate" data-date-format="dd/mm/yyyy" readonly/>
                                                                <label class="input-group-addon" for="product-reports-fromdate"><i class="glyphicon glyphicon-calendar"></i></label>
                                                            </div>

              </div>
            </div>


                                                    <div class="col-md-2 col-sm-3 col-lg-5 col-xs-3 paddnone width37" ng-show="selectedDateRange[0].value=='custom'">
                                                        <div class="form-group thDateTo">
                                                            <label class="sr-only" for="product-reports-todate">To Date</label>
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="product-reports-todate" ng-model="prodCustomToDate" data-date-format="dd/mm/yyyy" readonly/>
                                                                <label class="input-group-addon" for="product-reports-todate"><i class="glyphicon glyphicon-calendar"></i></label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>-->


                                        </div>

                                    </div>



                                </div>

                                <div class="row">

                                    <div class="col-sm-9 col-md-8 col-lg-11">
                                        <button class="btn btn-primary headrTopPad col-md-marlft17  pull-left marrgt20" ng-click="downloadProdRep()"
                                                ng-disabled="(selectedDateRange[0].value=='custom' && (!prodCustomFromDate || !prodCustomToDate))">Download</button>
                                        <button class="btn btn-primary headrTopPad pull-left marrgt20" ng-click="downloadAllProdRep()">Download all products</button>
                                        <em class="text-grey padlfttop">This will download the complete Products catalog ignoring the filters</em>
                                    </div>

                                </div>


                                <div class="panel-heading" ng-if="0">
                                    <h4 class="panel-title">
                                        <a href="javascript:;" id="acc-reports-downloadSum-header">
                                            Products file download summary</a>
                                    </h4>
                                </div>

                                <div class="newGridContainer container-fluid" ng-if="0">


                                    <div class="row" ng-if="0">
                                        <div class="dataTog col-xs-12 col-sm-12 col-md-12">You can
                                            download up to 10 previously generated files.</div>
                                    </div>
                                </div>

                                <div class="newGridContainer container-fluid paddbtm30" ng-if="0">

                                    <div class="row proHeader headerTwo">

                                        <div class="proHeaMerH col-xs-12 col-sm-3 col-md-3 headerTwo">Date
                                            & Time</div>
                                        <div class="proHeaCatH col-xs-12 col-sm-5 col-md-5 headerTwo">Filters
                                            Used</div>
                                        <div class="proHeaDimH col-xs-12 col-sm-3 col-md-3 headerTwo">Actions</div>
                                    </div>
                                    <div class="clear"></div>


                                    <div class="row proRow" ng-class="{rowSelected:product.Selected}"
                                         ng-repeat="product in myData">

                                        <div class="proHeaCat col-xs-12 col-sm-2 col-md-1">
                                            {{getCategory(product.mainProductCategory) | addEllipse:20 }}</div>

                                        <div class="proHeaAle col-xs-12 col-sm-1 col-md-1">
                                            {{getInventoryAlertLevel(product.inventoryAlertLevel)}}</div>

                                        <div class="proHeaAle col-xs-12 col-sm-1 col-md-1">
                                            {{getInventoryAlertLevel(product.inventoryAlertLevel)}}</div>

                                    </div>


                                    <div class="row proRow" ng-if="!myData.length">

                                        <div class="noRecordDisplay col-xs-12 col-sm-12 col-md-12">
                                            <p class="noProd txtBold">You don't have any download history.</p></div>

                                    </div>



                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>