<aside class="full">
  <article class="widget-nav">
      <ul class="list-group">
        <li class="list-group-item">
          <!-- <span class="badge">14</span> -->
          <a href="javascript:;" title="Expand/Collapse" class="glyphicon glyphicon-resize-horizontal"></a><span class="hidden-xs">Quick Links</span>
        </li>
        <li class="list-group-item">
          <!-- <span class="badge">14</span> -->
          <a href="#/orders/create" title="Create Order"><span class="glyphicon glyphicon-plus-sign"></span><span class="hidden-xs">Create Order</span></a>
        </li>
        <li class="list-group-item">
          <!-- <span class="badge">14</span> -->
          <a href="#/orders/upload" title="Upload File"><span class="glyphicon glyphicon-upload"></span><span class="hidden-xs">Upload File</span></a>
        </li>
      </ul>
  </article>
  <article class="widget-nav">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="glyphicon glyphicon-hdd"></span><span class="hidden-xs">Order Status</span>
        </li>
        <li class="list-group-item">
          <span class="badge">14</span>
          <a href="#/orders/pending" title="Pending"><span class="glyphicon glyphicon-retweet"></span><span class="hidden-xs">Pending</span></a>

        </li>
        <li class="list-group-item">
          <span class="badge">14</span>
          <a href="#/orders/inprogress" title="In Progress"><span class="glyphicon glyphicon-plane"></span><span class="hidden-xs">In Progress</span></a>
        </li>
        <li class="list-group-item">
          <span class="badge">14</span>
          <a href="#/orders/fulfillment" title="fulfillment"><span class="glyphicon glyphicon-star"></span><span class="hidden-xs">Fulfillment</span></a>
        </li>
        <li class="list-group-item">
          <span class="badge">14</span>
          <a href="#/orders/shipped" title="Shipped"><span class="glyphicon glyphicon-share-alt"></span><span class="hidden-xs">Shipped</span></a>
        </li>
        <li class="list-group-item">
          <span class="badge">14</span>
          <a href="#/orders/delivered" title="Delivered"><span class="glyphicon glyphicon-ok-sign"></span><span class="hidden-xs">Delivered</span></a>
        </li>
        <li class="list-group-item">
          <span class="badge">14</span>
          <a href="#/orders/drafts" title="Drafts"><span class="glyphicon glyphicon-file"></span><span class="hidden-xs">Drafts</span></a>
        </li>
        <li class="list-group-item">
          <span class="badge">14</span>
          <a href="#/orders/cancelled" title="Cancelled"><span class="glyphicon glyphicon-ban-circle"></span><span class="hidden-xs">Cancelled</span></a>
        </li>
      </ul>
  </article>
</aside>