<article class="widget-nav">
          <section>
            <ul class="list-group">
              <li class="list-group-item">
                <!-- <span class="badge">14</span> -->
                <a href="#/orders/create" title="New Order">New Order</a>
              </li>
              <li class="list-group-item">
                <!-- <span class="badge">14</span> -->
                <a href="#/orders/upload" title="Upload Status">Upload Status</a>
              </li>
            </ul>
          </section>
        </article>
        <article class="widget-nav">
          <header>Order Status</header>
            <section>
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="badge">14</span>
                  <a href="#/orders/pending" title="Pending">Pending</a>
                </li>
                <li class="list-group-item">
                  <span class="badge">14</span>
                  <a href="#/orders/intransit" title="In Transit">In Transit</a>
                </li>
                <li class="list-group-item">
                  <span class="badge">14</span>
                  <a href="#/orders/received" title="Received">Received</a>
                </li>
                <li class="list-group-item">
                  <span class="badge">14</span>
                  <a href="#/orders/cancelled" title="Cancelled">Cancelled</a>
                </li>
              </ul>
            </section>
        </article>