<section class="container-fluid" ng-init="init()">
  <div class="row">
    <div class="col-xs-12">
      <ng-include src="'views/orders/nav.html'"></ng-include>
      <section class="content full">
          <h2>Upload Product</h2>
          <form role="form" class="form-horizontal">
            <div class="panel-group">
                  <div class="panel panel-default">
                    <div data-toggle="collapse" data-target="#collapseOne" class="panel-heading">
                      <h4 class="panel-title">
                        <a href="javascript:;">
                        Prepare your orders file
                       </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-sm-12">
                            Click the button to download the template.<br/>
                            Update: Order templates conatining more than 100 unique orders cannot be completed(requires multiple uploads).
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="btn-grp">
                                <button type="button" class="btn btn-primary">DOWNLOAD TEMPLATE(xls)</button>
                                <button type="button" class="btn btn-primary">DOWNLOAD TEMPLATE(csv)</button>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div data-toggle="collapse" data-target="#collapseTwo" class="panel-heading">
                      <h4 class="panel-title">
                        <a href="javascript:;">
                        Upload and create Order ID
                       </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-sm-12">
                            Upload your completed orders file. Successful uploads are updated directly to the system, This will create an ezyFulfillment order ID for each of your orders. Unsuccessful uploads will generate a validation report containing detailed error messages.
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="btn-grp">
                                <label>Locate Product File</label>
                                <input type="file" />
                                <button type="button" class="btn btn-primary">Upload Now</button>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div data-toggle="collapse" data-target="#collapseThree" class="panel-heading">
                      <h4 class="panel-title">
                        <a href="javascript:;">
                        Order file upload summary
                       </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-sm-12">
                            Only unsuccessful uploads have a download report option.
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <article class="widget-table">
                              <div class="table-responsive">
                                <table class="table table-hover table-bordered table-striped">
                                  <thead>
                                    <tr><th>DATE AND TIME</th><th>FILE NAME</th><th>RESULT</th><th>STATUS</th></tr>
                                  </thead>
                                  <tbody>
                                    <tr><td>22/07/2014 9:16 SST</td><td>Reports_22072014</td><td>In Progress</td><td>Processing</td></tr>
                                    <tr><td>22/07/2014 9:16 SST</td><td>Reports_22072014</td><td>132 orders uploaded</td><td>Successful</td></tr>
                                    <tr><td>22/07/2014 9:16 SST</td><td>Reports_22072014</td><td>0 orders uploaded</td><td>Failed - <a href="javascript:;">Report</a></td></tr>
                                  </tbody>
                                </table>
                              </div>
                            </article>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </form>
      </section>
  </div>
</div>
</section>