<section class="container-fluid" ng-init="init()">
    <div class="row">
        <div class="col-xs-12">
            <ng-include src="'views/orders/nav.html'"></ng-include>
            <section class="content full widget-form widget-upload">
                <h2 class="thHead">Upload Orders</h2>
				<div class="container-fluid">
					  <div class="row paddbtm30">
						<div class="col-sm-12 col-lg-9 paddnone">
						  <div class="thHeadIco glyphicon glyphicon-order col-lg-1 col-sm-1 hidden-xs"></div>
						  <div class="thContent col-lg-11 col-sm-10">
							Download the Orders template and open in Excel or any other spreadsheet. Please read and follow the instructions provided in the 'Guide' sheet before filling the data. Once you have uploaded the file, you can monitor the status in Order file upload summary section below.
						  </div>
						  </div>
					  </div>
					</div>
				
				
          <div class="clear"></div>
                <form role="form" class="form-horizontal">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div
                                class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="javascript:;"> Prepare your orders file </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            Click the button to download the template. <br />Update:
                                            Order templates conatining more than 100 unique orders cannot
                                            be completed(requires multiple uploads).
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="btn-grp">
                                                <a id="order-upload-xls-download"
                                                    ng-href="{{orderTemplateXlsx}}" class="btn btn-primary"
                                                    title="order Template .xlsx">XLS</a> 
                                                <!--<a  id="order-upload-csv-download"
                                                    ng-href="{{orderTemplateCsv}}" class="btn btn-primary"
                                                    title="
                                order Template .csv">CSV</a>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div
                                class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="javascript:;"> Upload and create order ID </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">Upload your completed orders
                                            file. Successful uploads are updated directly to the system,
                                            This will create an EZY-Order ID for each of your
                                            orders. Unsuccessful uploads will generate a validation
                                            report containing detailed error messages.</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="btn-grp">
                                                <label>Locate Order File</label> <input type="file"
                                                    file-model="myFile" name="myFile" id="upload-order-file" class="margtop10" />
                                                    <button check-acl="uploadOrder" type="button" class="btn btn-primary" ng-disabled="(!isUploadable && !constants.developerMode)" ng-click="uploadOrders()"id="upload-order-button">Upload Now</button>
                                                    <em class="text-danger noAccessAcl ezyHide" check-acl="uploadOrder" showmessage="hide"></em>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="(!isUploadable && !constants.developerMode)">
                                        <div class="col-sm-12">
                                            <em class="text-danger pull-right">Note : You can't
                                                upload another file until your previous file completes
                                                processing.</em>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div
                                class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="javascript:;"> Order file upload summary </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12"><p>Only unsuccessful uploads have a
                                            download report option.</p></div>
                                    </div>
                                    <div class="newGridContainer container-fluid uploadHis">
                                        <!-- header -->
                                        <div class="row proHeader">
                      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">Date
                                                & Time</div>
                      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">File
                                                Name</div>
                      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">Result</div>
                      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">Status</div>
                                        </div>
                                        <div class="clear"></div>
                    <div class="row proRow" ng-repeat="data in myData" ng-class="getRowHighlight(data.duTxnId)">
                                        <!-- Date & Time -->
                      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                        <span class="" ng-bind="data.duTxnCreatedDate|| constants.notAvailable"></span>
                                        </div>
                                        <!-- File Name -->
                      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                        <span class="" ng-bind="data.duTxnFile || constants.notAvailable"></span>
                                        </div>
                                        <!-- Result -->
                      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                        <span class="" ng-if="data.duTxnFileStatus==0"ng-bind="(data.duTxnErrorMessage != 0 && data.duTxnErrorMessage) ? data.duTxnErrorMessage : constants.notAvailable"></span>
                        <span class="" ng-if="data.duTxnFileStatus!=0" ng-bind="(data.duTxnErrorMessage != 0 && data.duTxnErrorMessage) ? data.duTxnErrorMessage : ''"></span>
                        <br ng-if="data.duTxnErrorMessage != 0 && data.duTxnErrorMessage">
                        <span class="" ng-if="data.duTxnFileStatus!=0" ng-bind="'Orders created : '+data.duTxnSuccessCount+'  Orders with errors : '+data.duTxnErrorCount"></span>
                                        </div>                          
                                        <!-- Status -->
                      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                        <span class="{{data.duTxnFileStatus == 0 ? '' : (data.duTxnFileStatus == 1 ? 'text-success' : (data.duTxnFileStatus == 3 ? 'text-warning' : 'text-danger'))}}" ng-bind="data.duTxnFileStatus == 0 ? 'Processing' : (data.duTxnFileStatus == 1 ? 'Successful' : (data.duTxnFileStatus == 3 ? 'Partially Successful' : 'Failed'))"></span><a ng-show="(data.duTxnFileStatus==2 || data.duTxnFileStatus==3)" id="{{'order-upload-status-' + data.duTxnId}}" ng-href="{{data.duTxnErrorFiles3 || constants.notAvailable}}" title="Report"> Report</a>
                                        </div>
                    </div>
                                        <div class="row proRow" ng-if="!myData.length">
                                            <div class="noRecordDisplay col-sm-12 col-md-12 col-lg-12">
                                                No data to display</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</section>