<section class="container-fluid" ng-init="init()">
    <div class="row">
        <div class="col-xs-12">
            <ng-include src="'views/merchant/nav.html'"></ng-include>
            <section class="content full widget-form merchantpay">
                <h2 class="thHead">Payments</h2>
                <div class="col-sm-12 row">
                    <span ng-show="!loggedInContent.merchantCode">Please set the merchant context in the merchant table to add payments or adjustments. Once you set the context data for that merchant will be reflected here.</span>
                </div>
                <div class="row">

                    <div class="col-sm-12" >
                        
                        <div class="panel panel-default marbtm0">
                            <div class="panel-heading">								
                                    <h4 class="panel-title">Merchant Finance Information</h4>		
				            </div>
                            <div class="panel-body">
                                <div class="row" >
                                    <div class="col-md-12 col-sm-12 col-xs-12" >
                                        <div class="form-group">
                                            <label class="col-md-2 col-sm-3 control-label">Merchant Name</label>
                                            <label class="col-md-5 col-sm-5 control-label">{{(loggedInContent.merchantCode)? (loggedInContent.firstName + ' ' + loggedInContent.lastName) : constants.notAvailableText}}</label>

                                        </div>
                                    </div>
                                </div>

                                <div class="row" >
                                    <div class="col-md-12 col-sm-12 col-xs-12" >
                                        <div class="form-group">
                                            <label class="col-md-2 col-sm-3 control-label">Merchant ID</label>
                                            <label class="col-md-5 col-sm-5 control-label">{{loggedInContent.merchantCode || constants.notAvailableText}}</label>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12" >
                                        <div class="form-group">
                                            <label class="col-md-2 col-sm-3 control-label">Active From</label>
                                            <label class="col-md-5 col-sm-5 control-label">{{loggedInContent.activeDate || constants.notAvailableText}}</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!--<div class="panel panel-default col-sm-6 sec-deposit">
                            <h4>Security Deposit</h4>
							<div class="panel-body">
										<div class="row" >
											<div class="col-md-9 paddnone" >
												<div class="form-group">
												   <label class="col-md-6 col-sm-6 control-label">Current Deposit</label>
												  <label class="col-md-5 col-sm-5 control-label">: SGD 2500</label>
												</div>
											</div>
										</div>
							</div>

                    </div>-->
                </div>
                <div class="row">
                    <div class="col-sm-12" >

                        <div class="panel-group">
                            
                            <div class="panel panel-default">
                                <div class="panel-heading">								
                                    <h4 class="panel-title">Payments</h4>		
				                </div>
                                <div class="panel-body">

                                    <div class="col-sm-12 paddnone">
                                        <div class="row" >
                                            <div class="col-md-12 col-sm-6 col-xs-12" >
                                                <div class="form-group">
                                                    <label>Current Outstanding Amount:</label>{{constants.notAvailableText}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row paddbtm10">
                                            <div class="col-md-12 col-sm-12 col-xs-12" >
                                                <button id="add-new-payment-btn" type="submit" class="btn btn-primary marrgt20 " data-toggle="modal" data-target="#modal-add-new-payment" ng-disabled="!loggedInContent.merchantCode" ng-click="isPaymentEditable = true">Add New Payment</button>
                                                <button id="add-new-adjustment-btn" type="submit" class="btn btn-primary"  data-toggle="modal" data-target="#modal-add-new-adjustment" ng-disabled="!loggedInContent.merchantCode" ng-click="isAdjustmentEditable = true">Add New Adjustment</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body pnlbdy-pad5" >
                                            <label>Previous Receipts</label>
                                             <div class="newGridContainer container-fluid paddbtm30 martopbtm20 merchanttblpay paddnone">
                                                <div class="row proHeader">
                                                    <div class="merHeaMerIdH col-md-2 col-sm-4 col-xs-12">Entry Date</div>
                                                    <div class="merHeaEmailH col-md-2 col-sm-4 col-xs-12">Payment/Adj. Date</div>
                                                    <div class="merHeaEmailH col-md-2 col-sm-4 col-xs-12">Reference Number</div>
                                                    <div class="merHeaInvoiceH col-md-2 col-sm-3 col-xs-12">Invoice Number</div>
                                                    <div class="merHeaAmntH col-md-1 col-sm-3 col-xs-12">Amount (SGD)</div>
                                                    <div class="merHeaMerTypeH col-md-1 col-sm-4 col-xs-12">Type</div>
                                                    <div class="merHeaMerRemarkH  col-md-2 col-sm-4 col-xs-12">Remarks</div>
                                                </div>

                                                <div class="clear"></div>

                                                <div class="row proRow paddbtm4" ng-repeat="payment in payments">
                                                    <div class="merHeaMerIdH col-md-2 col-sm-4 col-xs-12">{{payment.entryDate || constants.notAvailableText}}</div>
                                                    <div class="merHeaEmailH col-md-2 col-sm-4 col-xs-12">{{payment.paymentDate || constants.notAvailableText}}</div>
                                                    <div class="merHeaEmailH col-md-2 col-sm-4 col-xs-12">{{payment.paymentNo || constants.notAvailableText}}</div>
                                                    <div class="merHeaInvoiceH col-md-2 col-sm-3 col-xs-12">{{(payment.type == 'payment') ? constants.notAvailableText : payment.invoiceNo}}</div>
                                                    <div class="merHeaUenH col-md-1 col-sm-3 col-xs-12">{{payment.amount|number:2}}</div>
                                                    <div class="merHeaMerNameH col-md-1 col-sm-4 col-xs-12">{{(payment.type && payment.type == 'payment') ? payment.type : ('Adjustment - '+payment.type)|| constants.notAvailableText}}</div>
                                                    <div class="merHeaActionH  col-md-2 col-sm-4 col-xs-12">{{payment.remarks || constants.notAvailableText}}</div>
                                                </div>

												<div class="row proRow  noRecordDisplay col-xs-12 col-sm-12 col-md-12" ng-if="!payments.length">
													<div ng-if="loading.load" class="loadingText"><span class="dataget glyphicon glyphicon-cog spin"></span> We are retrieving your data. Please wait</div>
													<div ng-if="loading.nodata" class="txtCenter">No data to display</div>
												</div>
												
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
</section>


<div class="modal fade" id="modal-add-new-payment">
    <div class="modal-dialog wdth540">
        <div class="modal-content" ng-show="isPaymentEditable">
            
			<div class="modal-header">
                    <p>New Payment<span class="model-close" ng-click="clearPaymentForm()" data-dismiss="modal">X</span></p>
            </div>
			
            <form class="form-horizontal" id="form-add-new-payment" name="form-add-new-payment" novalidate angular-validator angular-validator-submit="submitNewPayment()">
                <div class="modal-body model-paydate">
                    <div class="form-group">
                        <label class="control-label col-sm-12 center"><h5> Merchant ID : {{loggedInContent.merchantCode || constants.notAvailableText}} </h5></label>
                        <label class="control-label col-sm-12 center"><h5> Billing Cycle : {{getBillingCycle()}} </h5></label>
                    </div>

                    <div class="form-group required">
                        <label class="control-label col-sm-4 left" for="pay-ref-no">Payment Ref No.</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="pay-ref-no" name="pay-ref-no" ng-model="paymentModel.paymentRefNo" placeholder="Payment Ref No."
                                   required required-message="constants.validationMessages.required">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-4 left" for="pay-amt">Payment Amount (SGD)</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="pay-amt" name="pay-amt" ng-model="paymentModel.paymentAmt" placeholder="Payment Amount"
                            ng-pattern="/^[0-9]+[\\.]?[0-9]{0,2}$/"
                            invalid-message="constants.validationMessages.invalidnumber" 
                            required-message="constants.validationMessages.required"
                            required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-4 left">Payment Date</label>
                        <div class="col-sm-8 input-group datelbl">
                            <input type="text" class="form-control cursor-default" id="payment-date" name="payment-date" ng-model="paymentModel.paymentDate" data-date-format="dd/mm/yyyy"
                                   required required-message="constants.validationMessages.required" readonly>
                            <label class="input-group-addon" for="payment-date">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4 left" for="pay-remarks">Remarks</label>
                        <div class="col-sm-8">
                            <textarea id="pay-remarks" name="pay-remarks" maxlength="100" class="form-control" rows="4" cols="7" ng-model="paymentModel.remarks"></textarea>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button name="btn-create-payment-cancel" id="btn-create-payment-cancel" type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearPaymentForm()">Cancel</button>
                    <button name="submit-create-payment" id="submit-create-payment"  type="submit" class="btn btn-primary">Create Payment</button>
                </div>
            </form>
        </div>

        <div class="modal-content" ng-show="!isPaymentEditable">
            <div class="modal-header merchant-modal-header paymodel">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearPaymentForm()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirm Payment</h4>
            </div>
            <div class="modal-body model-paydate">
                <p class="errorMsg txtRed text-center" ng-bind="addNewPaymentError"></p>
                <form class="form-horizontal" role="form">

                    <div class="form-group">
                        <label class="control-label col-sm-12 center"><h5> Merchant ID : {{loggedInContent.merchantCode || constants.notAvailableText}} </h5></label>
                        <label class="control-label col-sm-12 center"><h5> Billing Cycle : {{getBillingCycle()}} </h5></label>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4 left" for="pay-ref-no">Payment Ref No.</label>
                        <div class="col-sm-6">
                            <label class="form-control-static" ng-bind="paymentModel.paymentRefNo"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4 left">Payment Amount (SGD)</label>
                        <div class="col-sm-6">
                            <label class="form-control-static" ng-bind="paymentModel.paymentAmt"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4 left">Payment Date</label>
                        <div class="col-sm-6">
                            <label class="form-control-static" ng-bind="paymentModel.paymentDate"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4 left" for="pay-remarks">Remarks</label>
                        <div class="col-sm-6">
                            <label name="pay-remarks" maxlength="100" class="form-control-static" rows="4" cols="7" ng-bind="paymentModel.remarks"></label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearPaymentForm()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="isPaymentEditable = true">Back</button>
                <button type="button" class="btn btn-primary" ng-click="addNewPayment()">Confirm Payment</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="modal-add-new-adjustment">
    <div class="modal-dialog wdth540">
        <div class="modal-content" ng-show="isAdjustmentEditable">
            
			<div class="modal-header">
                    <p>New Adjustment<span class="model-close" data-dismiss="modal" ng-click="clearAdjustmentForm()">X</span></p>
            </div>
            <form class="form-horizontal" id="form-add-new-adjustment" name="form-add-new-adjustment" novalidate angular-validator angular-validator-submit="submitNewAdjustment()">
                <div class="modal-body model-paydate">
                    <div class="form-group">
                        <label class="control-label col-sm-12 center"><h5> Merchant ID : {{loggedInContent.merchantCode || constants.notAvailableText}} </h5></label>
                        <label class="control-label col-sm-12 center"><h5> Billing Cycle : {{getBillingCycle()}} </h5></label>
                    </div>

                    <div class="form-group required">
                        <label class="control-label col-sm-4 left adj-no" for="adj-ref-no">Adjustment Ref No. <span>(SalesForce Ticket No)</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control col-sm-4" id="adj-ref-no" name="adj-ref-no" ng-model="adjustmentModel.adjustmentRefNo" placeholder="Payment Ref No."
                                   required required-message="constants.validationMessages.required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4 left" for="adj-inv-ref-no">Invoice Ref. No</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="adj-inv-ref-no" name="adj-inv-ref-no" ng-model="adjustmentModel.invoiceRefNo" placeholder="Payment Amount">
                        </div>
                    </div>

                    <div class="form-group required">
                        <label class="control-label col-sm-4 left">Adjustment Amount (SGD)</label>
                        <div class="col-md-3">
                            <select class="form-control" id="adj-type" name="adj-type" ng-model="adjustmentModel.adjustmentType" ng-options="type for type in adjustmentType"></select>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="adj-amt" name="adj-amt" ng-model="adjustmentModel.adjustmentAmt" placeholder="Adjustment Amount"
                                   required required-message="constants.validationMessages.required">
                        </div>
                    </div>

                    <div class="form-group required">
                        <label class="control-label col-sm-4 left">Adjustment Date</label>
                        <div class="col-sm-8 input-group datelbl">
                            <input type="text" class="form-control cursor-default" id="adj-date" name="adj-date" ng-model="adjustmentModel.adjustmentDate" data-date-format="dd/mm/yyyy"
                                   required required-message="constants.validationMessages.required" readonly>
                            <label class="input-group-addon" for="adj-date">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </label>
                        </div>
                    </div>

                    <div class="form-group required">
                        <label class="control-label col-sm-4 left" for="adj-remarks">Remarks</label>
                        <div class="col-sm-8">
                            <textarea name="adj-remarks" id="adj-remarks" name="adj-remarks" maxlength="100" class="form-control" rows="4" cols="7" ng-model="adjustmentModel.remarks"
                                      required required-message="constants.validationMessages.required">
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button name="create-adj-cancel-btn" type="button" class="btn btn-default" id="create-adj-cancel-btn"  data-dismiss="modal" ng-click="clearAdjustmentForm()">Cancel</button>
                    <button name="create-adj-cancel-btn" type="submit" class="btn btn-primary" id="create-adj-submit-btn">Create Adjustment</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
        <div class="modal-content" ng-show="!isAdjustmentEditable">
            <div class="modal-header merchant-modal-header paymodel">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearAdjustmentForm()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirm Adjustment</h4>
            </div>
            <div class="modal-body">
                <p class="errorMsg txtRed text-center" ng-bind="addNewAdjError"></p>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-12 center"><h5> Merchant ID : {{loggedInContent.merchantCode || constants.notAvailableText}} </h5></label>
                        <label class="control-label col-sm-12 center"><h5> Billing Cycle : {{getBillingCycle()}} </h5></label>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3 left">Adjustment Ref No.<span>(SalesForce Ticket No)</span></label>
                        <div class="col-sm-6">
                            <label class="form-control-static" ng-bind="adjustmentModel.adjustmentRefNo"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 left">Invoice Ref. No</label>
                        <div class="col-sm-6">
                            <label class="form-control-static" ng-bind="adjustmentModel.invoiceRefNo"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 left">Adjustment Amount (SGD)</label>

                        <div class="col-md-3">
                            <label class="form-control-static" ng-bind="adjustmentModel.adjustmentType"></label> -
                            <label class="form-control-static" ng-bind="adjustmentModel.adjustmentAmt"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 left">Adjustment Date</label>
                        <div class="col-sm-6">
                            <label class="form-control-static" ng-bind="adjustmentModel.adjustmentDate"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 left">Remarks</label>
                        <div class="col-sm-6">
                            <label name="adj-remarks" maxlength="100" class="form-control-static" rows="4" cols="7" ng-bind="adjustmentModel.remarks"></label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearAdjustmentForm()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="isAdjustmentEditable = true">Back</button>
                <button type="button" class="btn btn-primary" ng-click="addNewAdjustment()">Confirm Adjustments</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



