
<section class="container-fluid" ng-init="init()">
  <div class="row">
    <div class="col-xs-12">
      <ng-include src="'views/products/nav.html'"></ng-include>
      <section class="content full">
        <h2>Product Catalog</h2>
        <p>Create and manage your product catalog here. Add products one at a time by typing the product information or in bulk by uploading a file using our standard template. Once Products are created and activated, you can use them to create shipments, orders and do more.</p>
        <h4 class="sub-head">Search Products</h4>
        <form class="form-inline" role="form">
          <div class="row padBtm15px">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="sr-only" for="searchProducts">Search Products</label>
                <div class="input-group selectboxhldr">
                      <div multi-select input-model="productFilterOptions" button-label="name" item-label="name" tick-property="ticked" selection-mode="single" helper-elements="" output-model="searchColumn" id="product-search-column"></div>
                    <input type="text" class="form-control" id="product-search-text" placeholder="Search Products" ng-model="searchKey">
                </div>
              </div>
              <div class="form-group">
                <label class="sr-only" for="searchProducts">Created Date Range</label>
                <div class="input-group product-date">
                  <div multi-select input-model="dateOptions" output-model="date" button-label="name" item-label="name" tick-property="ticked" selection-mode="single" helper-elements="none" default-label="Created Date Range" disable-property="label" id="product-date-range"></div>
                </div>
              </div>
              <div class="form-group">
                <label class="sr-only" for="searchProducts">Product Category</label>
                <div class="input-group product-category">
                  <div multi-select input-model="categoryOptions" output-model="category" button-label="name" item-label="name" tick-property="ticked" max-labels="1" default-label="Product Category" min-width="300px" max-height="220px" helper-elements="all none filter" id="product-search-category"></div>
              </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="searchProducts">Inventory</label>
                <div class="input-group product-inventory">
                  <div multi-select input-model="inventoryOptions" output-model="inventory" button-label="name" item-label="name" tick-property="ticked" helper-elements="" default-label="Inventory" selection-mode="single" disable-property="label" id="product-search-inventory"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="sr-only" for="searchProducts">Actions</label>
              <label class="rowCount" ng-if="gridOptions.selectedItems.length">{{gridOptions.selectedItems.length}} row(s) selected</label>
                <div class="input-group">
                  <!-- <input type="checkbox" name="action" /> -->
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="product-search-action">
                      Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li ng-if="isOptionVisible('shipment')"><a href="javascript:;" id="product-action-create-shipment">Create Shipment</a></li>
                      <li ng-if="isOptionVisible('fulfillment')"><a href="javascript:;" id="product-action-create-fulfillment">Create Fulfillment Order</a></li>
                      <li ng-if="isOptionVisible('removal')"><a href="javascript:;" id="product-action-create-removal">Create Removal Order</a></li>
                      <li ng-if="isOptionVisible('active')"><a href="javascript:;" id="product-action-make-active">Make Active</a></li>
                      <li ng-if="isOptionVisible('inactive')"><a href="javascript:;" id="product-action-make-inactive">Make Inactive</a></li>
                      <li ng-if="isOptionVisible('archived')"><a href="javascript:;" id="product-action-archive">Archive</a></li>
                      <li ng-if="isOptionVisible('restore')"><a href="javascript:;" id="product-action-restore">Restore</a></li>
                    </ul>
                  </div>
                  
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                  <button class="btn btn-primary" ng-click="applyFilter()" id="product-search-apply">Apply Filter</button>
              </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                  <button class="btn btn-default" ng-click="resetFilter()" id="product-action-reset">Reset</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="widget-table">
        <!-- <div class="action-palette">
              <label class="sr-only" for="searchProducts">Actions</label>
              <div class="input-group">
                 <input type="checkbox" name="action" /> 
                <div class="btn-group">
                   <button type="button" class="btn btn-link" data-toggle="dropdown">Actions</button> 
                  <button type="button" title="Action" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:;">Create Shipment</a></li>
                    <li><a href="javascript:;">Create Fulfillment Order</a></li>
                    <li><a href="javascript:;">Create Removal Order</a></li>
                    <li><a href="javascript:;">Make Active</a></li>
                    <li><a href="javascript:;">Make Inactive</a></li>
                    <li><a href="javascript:;">Archive</a></li>
                    <li><a href="javascript:;">Restore</a></li>
                  </ul>
                </div>
              </div>
        </div> -->
        <div class="gridStyle products-list" showEmptyMsg ng-grid="gridOptions" id="product-list-grid"></div>
    </div>
  </section>
</div>
</div>
</section>