<section class="container-fluid" ng-init="init()">
  <div class="row">
    <div class="col-xs-12">
      <ng-include src="'views/products/nav.html'"></ng-include>
      <section class="content full">
          <h2>Upload Product</h2>
          <form role="form" class="form-horizontal">
            <div class="panel-group">
                  <div class="panel panel-default">
                    <div data-toggle="collapse" data-target="#collapseOne" class="panel-heading">
                      <h4 class="panel-title">
                        <a href="javascript:;">
                        Prepare your products file
                       </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-sm-12">
                            To get started, please download the import template in one of the formats below. The file contains guidelines on how to fill the template. You can upload a maximum of 1000 products at one go.
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="btn-grp">
                                <button type="button" class="btn btn-primary">XLS</button>
                                <button type="button" class="btn btn-primary">CSV</button>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div data-toggle="collapse" data-target="#collapseTwo" class="panel-heading">
                      <h4 class="panel-title">
                        <a href="javascript:;">
                        Upload the completed templates
                       </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-sm-12">
                            Once you've added your products to the template, upload it here. Don't worry, if your file contains error, we will generate a status report to help you correct those errors.
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="btn-grp">
                                <label>Locate Product File</label>
                                <input type="file" />
                                <button type="button" class="btn btn-primary">Upload Now</button>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div data-toggle="collapse" data-target="#collapseThree" class="panel-heading">
                      <h4 class="panel-title">
                        <a href="javascript:;">
                        Product file upload summary
                       </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-sm-12">
                            View the status of the file here. If your upload has some problems, you can download a status report which will help you to correct the errors. The same file can be upload again in Step 2.
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <article class="widget-table">
                              <div class="gridStyle" ng-grid="gridOptions"></div>
                              <!-- <div class="table-responsive">
                                <table class="table table-hover table-bordered table-striped">
                                  <thead>
                                    <tr><th>DATE AND TIME</th><th>FILE NAME</th><th>RESULT</th><th>STATUS</th></tr>
                                  </thead>
                                  <tbody>
                                    <tr><td>22/07/2014 9:16 SST</td><td>Products_22072014</td><td>In Progress</td><td>Processing</td></tr>
                                    <tr><td>22/07/2014 9:16 SST</td><td>Products_22072014</td><td>132 products uploaded</td><td>Successful</td></tr>
                                    <tr><td>22/07/2014 9:16 SST</td><td>Products_22072014</td><td>0 products uploaded</td><td>Failed - <a href="javascript:;">Report</a></td></tr>
                                  </tbody>
                                </table>
                              </div> -->
                            </article>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </form>
      </section>
  </div>
</div>
</section>