<section class="container-fluid" ng-init="init()">
  <div class="row">
    <div class="col-xs-12">
      <ng-include src="'views/products/nav.html'"></ng-include>
      <section class="content full">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="pull-left">View Product</h2>
              <div class="btn-grp pull-right">
                <button class="btn btn-default" id="product-view-back-top" ng-click="back()">Back</button>
                <a href="#/products/edit/{{model.fbspSkuId}}" class="btn btn-primary" id="product-view-edit-top">Edit</a>
              </div>
            </div>
          </div>
          <form role="form" class="form-horizontal">
            <div class="panel-group">
              <div class="panel panel-default">
                <div data-toggle="collapse" data-target="#collapseOne" class="panel-heading">
                  <h4 class="panel-title">
                    <a href="javascript:;" id="product-view-basic">
                      Product Defaults
                    </a>
                  </h4>
                </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-sm-8">
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="merchantSku" class="col-sm-5 control-label">EZY-SKU</label>
                                  <div class="col-sm-7">
                                    <p id="product-view-fbsp-sku" class="form-control-static" ng-bind="model.fbspSkuId || constants.notAvailable"></p>
                                  </div>
                                </div>    
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="merchantSku" class="col-sm-5 control-label">Merchant SKU</label>
                                  <div class="col-sm-7">
                                    <p id="product-view-merchant-sku" class="form-control-static" ng-bind="model.sku || constants.notAvailable"></p>
                                  </div>
                                </div>    
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="ean" class="col-sm-5 control-label">Product ID ({{model.codeType || constants.notAvailable}})</label>
                                  <div class="col-sm-7">
                                    <p id="product-view-product-id" class="form-control-static" ng-bind="model.articleCode || constants.notAvailable"></p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="dimension" class="col-sm-5 control-label">Dimensions L X W X H ({{model.dimensionUnit || constants.notAvailable}})</label>
                                  <div class="col-sm-7 three-input">
                                    <p id="product-view-dimension-length" class="form-control-static" ng-bind="model.length || constants.notAvailable"></p>
                                    <p id="product-view-dimension-width" class="form-control-static" ng-bind="model.width || constants.notAvailable"></p>
                                    <p id="product-view-dimension-height" class="form-control-static" ng-bind="model.height || constants.notAvailable"></p>
                                  </div>
                                </div>    
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="weight" class="col-sm-5 control-label">Weight ({{model.weightUnit || constants.notAvailable}})</label>
                                  <div class="col-sm-7 small-input">
                                    <p id="product-view-weight" class="form-control-static" ng-bind="model.weight || constants.notAvailable"></p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="weight" class="col-sm-5 control-label">Date Created</label>
                                  <div class="col-sm-7 small-input">
                                    <p id="product-view-created-date" class="form-control-static" ng-bind="model.createdDate || constants.notAvailable"></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="weight" class="col-sm-5 control-label">Date Last Modified</label>
                                  <div class="col-sm-7 small-input">
                                    <p id="product-view-modified-date" class="form-control-static" ng-bind="model.modifiedDate || constants.notAvailable"></p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="weight" class="col-sm-5 control-label">Date Since Inactive</label>
                                  <div class="col-sm-7 small-input">
                                    <p id="product-view-inactive-date" class="form-control-static" ng-bind="model.dateInactive || constants.notAvailable"></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="row">
                              <div class="col-sm-12">
                                <table class="table table-striped table-bordered">
                                  <thead>
                                    <tr>
                                      <th colspan="2">Inventory</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Fulfillable</td><td id="product-view-fulfillable-qty" ng-bind="model.qtyFulfillable || constants.notAvailable"></td>
                                    </tr>
                                    <tr>
                                      <td>Damaged</td><td id="product-view-damaged-qty" ng-bind="model.qtyDamaged || constants.notAvailable"></td>
                                    </tr>
                                    <!-- <tr>
                                      <td>Reserved</td><td>1</td>
                                    </tr> -->
                                    <tr>
                                      <td>Inbound</td><td id="product-view-inbound-qty" ng-bind="model.qtyInShipment || constants.notAvailable"></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="form-group col-sm-5">
                                  <label class="control-label" id="product-view-isactive-label">
                                    <span id="product-view-isactive-icon" class="{{model.isActive ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'}}"></span> Is Active
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="form-group col-sm-5">
                                    <!-- <label>
                                      <span class="{{model.isDangerous ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'}}"></span> Dangerous
                                    </label>
                                    <label>
                                      <span class="{{model.isPerishable ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'}}"></span> Perishable
                                    </label>  -->
                                    <label class="control-label" id="product-view-isfragile-label">
                                      <span id="product-view-isfragile-icon" class="{{model.isFragile ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'}}"></span> Fragile
                                    </label>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" data-toggle="collapse" data-target="#collapseTwo">
                    <h4 class="panel-title">
                      <a href="javascript:;" id="product-view-advanced">
                        General Information
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <div class="row">

                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="productCat" class="col-sm-5 control-label">Product Name</label>
                            <div class="col-sm-7">
                              <p id="product-view-product-name" class="form-control-static" ng-bind="model.productName || constants.notAvailable"></p>
                            </div>
                          </div>    
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="productCat" class="col-sm-5 control-label">Product Category</label>
                            <div class="col-sm-7">
                              <p id="product-view-product-category" class="form-control-static" ng-bind="getCategory(model.mainProductCategory)"></p>
                            </div>
                          </div>    
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="price" class="col-sm-5 control-label">Retail Price</label>
                            <div class="col-sm-7">
                              <p id="product-view-retail-price" class="form-control-static" ng-bind="(model.retailPrice || constants.notAvailable) + ' ' + (model.retailPrice ? (model.retailPriceCurrencyCode || '') : '')"></p>
                            </div>
                          </div>    
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="declaredValue" class="col-sm-5 control-label">Declared value</label>
                            <div class="col-sm-7">
                              <p id="product-view-declared-value" class="form-control-static" ng-bind="(model.declaredValue || constants.notAvailable) + ' ' + (model.declaredValue ? (model.declaredValueCurrencyCode || '') : '')"></p>
                            </div>
                          </div>    
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="costprice" class="col-sm-5 control-label">Cost Price</label>
                            <div class="col-sm-7">
                              <p id="product-view-cost-price" class="form-control-static" ng-bind="(model.costPrice  || constants.notAvailable) + ' ' + (model.costPrice ? (model.costPriceCurrencyCode || '') : '')"></p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="manufacturer" class="col-sm-5 control-label">Manufacturer</label>
                            <div class="col-sm-7">
                              <p id="product-view-manufacturer" class="form-control-static" ng-bind="model.manufacturer || constants.notAvailable"></p>
                            </div>
                          </div>    
                        </div>


                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="inventoryLevel" class="col-sm-5 control-label">Inventory Alert Level</label>
                            <div class="col-sm-7">
                              <p id="product-view-inventory-alert" class="form-control-static" ng-bind="(model.inventoryAlertLevel || model.inventoryAlertLevel == 0) ? model.inventoryAlertLevel : constants.notAvailable"></p>
                            </div>
                          </div>    
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="remarks" class="col-sm-5 control-label">Remarks</label>
                            <div class="col-sm-7">
                              <p id="product-view-remarks" class="form-control-static" ng-bind="model.remarks || constants.notAvailable"></p>
                            </div>
                          </div>    
                        </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#collapseThree">
                      <h4 class="panel-title">
                        <a href="javascript:;" id="product-view-custom-dec">
                          Customs Declaration Information
                        </a>
                        <label class="pull-right" id="product-view-isexport-label">
                          <span id="product-view-isexport-icon" class="{{model.isExportable ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'}}"></span> Is Exportable
                        </label>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label for="customDesc" class="col-sm-5 control-label">Customs Item description</label>
                              <div class="col-sm-7">
                                <p id="product-view-custom-desc" class="form-control-static" ng-bind="model.customsDescription || constants.notAvailable"></p>
                              </div>
                            </div>    
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label for="htsCode" class="col-sm-5 control-label">HS Code</label>
                              <div class="col-sm-7">
                                <p id="product-view-hs-code" class="form-control-static" ng-bind="model.hsCode || constants.notAvailable">HTS Code</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label for="originCountry" class="col-sm-5 control-label">Country of Origin</label>
                              <div class="col-sm-7">
                                <p id="product-view-origin-country" class="form-control-static" ng-bind="model.countryOfOriginCode || constants.notAvailable"></p>
                              </div>
                            </div>    
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#collapseFour">
                      <h4 class="panel-title">
                        <a href="javascript:;" id="product-view-add-info">
                          Additional Information 
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <div class="row" ng-if="!(model.additionalInfo1 || model.additionalInfo2 || model.additionalInfo3 || model.additionalInfo4 || model.additionalInfo5 || model.additionalInfo6 || model.additionalInfo7 || model.additionalInfo8 || model.additionalInfo9 || model.additionalInfo10 || model.additionalInfo11 || model.additionalInfo12)">
                          <div class="col-sm-12">
                            <div class="form-group">
                              <div class="col-sm-12">
                                <p id="product-view-add-info-none" class="form-control-static">No additional information available</p>
                              </div>
                            </div>    
                          </div>
                        </div>
                        <div class="row" ng-if="model.additionalInfo1 || model.additionalInfo2 || model.additionalInfo3">
                          <div class="col-sm-4" ng-if="model.additionalInfo1">
                            <div class="form-group">
                              <label for="addInfo1" class="col-sm-6 control-label">Additional Information 1</label>
                              <div class="col-sm-6">
                                <p id="product-view-add-info1" class="form-control-static" ng-bind="model.additionalInfo1 || constants.notAvailable"></p>
                              </div>
                            </div>    
                          </div>
                          <div class="col-sm-4" ng-if="model.additionalInfo2">
                            <div class="form-group">
                              <label for="addInfo2" class="col-sm-6 control-label">Additional Information 2</label>
                              <div class="col-sm-6">
                                <p id="product-view-add-info2" class="form-control-static" ng-bind="model.additionalInfo2 || constants.notAvailable"></p>
                              </div>
                            </div>    
                          </div>
                          <div class="col-sm-4" ng-if="model.additionalInfo3">
                            <div class="form-group">
                              <label for="addInfo3" class="col-sm-6 control-label">Additional Information 3</label>
                              <div class="col-sm-6">
                                <p id="product-view-add-info3" class="form-control-static" ng-bind="model.additionalInfo3 || constants.notAvailable"></p>
                              </div>
                            </div>    
                          </div>
                        </div>
                        <div class="row" ng-if="model.additionalInfo4 || model.additionalInfo5 || model.additionalInfo6">
                          <div class="col-sm-4" ng-if="model.additionalInfo4">
                            <div class="form-group">
                              <label for="addInfo1" class="col-sm-6 control-label">Additional Information 4</label>
                              <div class="col-sm-6">
                                <p id="product-view-add-info4" class="form-control-static" ng-bind="model.additionalInfo4 || constants.notAvailable"></p>
                              </div>
                            </div>    
                          </div>
                          <div class="col-sm-4" ng-if="model.additionalInfo5">
                            <div class="form-group">
                              <label for="addInfo2" class="col-sm-6 control-label">Additional Information 5</label>
                              <div class="col-sm-6">
                                <p id="product-view-add-info5" class="form-control-static" ng-bind="model.additionalInfo5 || constants.notAvailable"></p>
                              </div>
                            </div>    
                          </div>
                          <div class="col-sm-4" ng-if="model.additionalInfo6">
                            <div class="form-group">
                              <label for="addInfo3" class="col-sm-6 control-label">Additional Information 6</label>
                              <div class="col-sm-6">
                                <p id="product-view-add-info6" class="form-control-static" ng-bind="model.additionalInfo6 || constants.notAvailable"></p>
                              </div>
                            </div>    
                          </div>
                        </div>
                        <div class="row" ng-if="model.additionalInfo7 || model.additionalInfo8 || model.additionalInfo9">
                          <div class="col-sm-4" ng-if="model.additionalInfo7">
                            <div class="form-group">
                              <label for="addInfo1" class="col-sm-6 control-label">Additional Information 7</label>
                              <div class="col-sm-6">
                                <p id="product-view-add-info7" class="form-control-static" ng-bind="model.additionalInfo7 || constants.notAvailable"></p>
                              </div>
                            </div>    
                          </div>
                          <div class="col-sm-4" ng-if="model.additionalInfo8">
                            <div class="form-group">
                              <label for="addInfo2" class="col-sm-6 control-label">Additional Information 8</label>
                              <div class="col-sm-6">
                                <p id="product-view-add-info8" class="form-control-static" ng-bind="model.additionalInfo8 || constants.notAvailable"></p>
                              </div>
                            </div>    
                          </div>
                          <div class="col-sm-4" ng-if="model.additionalInfo9">
                            <div class="form-group">
                              <label for="addInfo3" class="col-sm-6 control-label">Additional Information 9</label>
                              <div class="col-sm-6">
                                <p id="product-view-add-info9" class="form-control-static" ng-bind="model.additionalInfo9 || constants.notAvailable"></p>
                              </div>
                            </div>    
                          </div>
                        </div>
                        <div class="row" ng-if="model.additionalInfo10 || model.additionalInfo11 || model.additionalInfo12">
                          <div class="col-sm-4" ng-if="model.additionalInfo10">
                            <div class="form-group">
                              <label for="addInfo1" class="col-sm-6 control-label">Additional Information 10</label>
                              <div class="col-sm-6">
                                <p id="product-view-add-info10" class="form-control-static" ng-bind="model.additionalInfo10 || constants.notAvailable"></p>
                              </div>
                            </div>    
                          </div>
                          <div class="col-sm-4" ng-if="model.additionalInfo11">
                            <div class="form-group">
                              <label for="addInfo2" class="col-sm-6 control-label">Additional Information 11</label>
                              <div class="col-sm-6">
                                <p id="product-view-add-info11" class="form-control-static" ng-bind="model.additionalInfo11 || constants.notAvailable"></p>
                              </div>
                            </div>    
                          </div>
                          <div class="col-sm-4" ng-if="model.additionalInfo12">
                            <div class="form-group">
                              <label for="addInfo3" class="col-sm-6 control-label">Additional Information 12</label>
                              <div class="col-sm-6">
                                <p id="product-view-add-info12" class="form-control-static" ng-bind="model.additionalInfo12 || constants.notAvailable"></p>
                              </div>
                            </div>    
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div data-toggle="collapse" data-target="#collapseFive" class="panel-heading">
                      <h4 class="panel-title">
                        <a href="javascript:;" id="product-view-history">
                          History - Stock Movement
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-sm-12">
                            <article class="widget-table">
                              <div class="table-responsive">
                                <table class="table table-hover table-bordered table-striped">
                                  <thead>
                                    <tr><th>Date</th><th>Action</th><th>Change</th><th>Current Inventory Fulfillable</th><th>Current Inventory Damaged</th><th>Inventory Inbound</th></tr>
                                  </thead>
                                  <tbody>
                                    <tr><td>22/07/2014 9:16 SST</td><td>Fulfillemnt Order</td><td>+2</td><td>97</td><td>0</td><td>0</td></tr>
                                    <tr><td>22/07/2014 9:16 SST</td><td>Removal Order</td><td>+2</td><td>97</td><td>0</td><td>0</td></tr>
                                    <tr><td>22/07/2014 9:16 SST</td><td>Shipment Recieved Order</td><td>+2</td><td>97</td><td>0</td><td>0</td></tr>
                                  </tbody>
                                </table>
                                <div class="btn-grp pull-right">
                                  <button type="button" class="btn btn-primary" id="product-view-export">Export</button>
                                </div>
                              </div>
                            </article>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btn-grp pull-right">

                  <button class="btn btn-default" id="product-view-back" ng-click="back()">Back</button>

                  <a href="#/products/edit/{{model.fbspSkuId}}" class="btn btn-primary" id="product-view-edit">Edit</a>
                </div>
              </form>
            </section>
          </div>
        </div>
      </section>